# CALIDAD DE DATOS

## IMPORTAR PAQUETES

In [1]:
import numpy as np
import pandas as pd
#from janitor import clean_names

#Automcompletar rápido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

Sustituir la ruta del proyecto.

In [2]:
ruta_proyecto = 'C:/Users/Usuario/miniconda3/SAI Dia FBS/'

Sustituir el nombre_fichero_datos.

In [3]:
nombre_fichero_datos = 'trabajo.csv'

Cargar los datos.

In [4]:
ruta_completa = ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_fichero_datos

df = pd.read_csv(ruta_completa)
df

,Unnamed: 0.1,Unnamed: 0,ID,LINK,CNO,TITULO OFERTA,DETALLE OFERTA,FIN OFERTA,EMPRESA OFERTA,CABECERA
0,4,4,1763217793,https://www.empleate.gob.es/empleo/#/oferta/17...,5220,Se necesita ayudante de dependienta,Horario partido de comercio en centro Madrid,2022-07-02 00:00:00,Fritos El Cisne SL,Agricultura/jardinería/alimentación -\r\nConse...
1,5,5,1763583482,https://www.empleate.gob.es/empleo/#/oferta/17...,4111,Administrativo marketing/vo,Edad: Que encaje en un contrato de formación.\...,14/02/2022,AUTOFER SL,Administración -\r\nAdministrativos\r\nEmplead...
2,6,6,1762685353,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Experto en soporte técnico,"Su área de responsabilidad\r\nInstalación, rep...",20/01/2022,Weinig Holz-Her España,Fábricas/industria -\r\nTécnicos Metalúrgicos\...
3,8,8,1762857238,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Operador de sala - pause & play torrecárdenas,Funciones del puesto:\r\n- Atención personaliz...,26/01/2022,Vision Innovation Diversion SL,Comunicación/cultura/entretenimiento -\r\nApue...
4,9,9,1764322624,https://www.empleate.gob.es/empleo/#/oferta/17...,4301,Administrativo,"nominas, contratos, seguros sociales- departam...",2022-02-03 00:00:00,"ORGADEM,SL",Administración -\r\nRecursos Humanos/personal\...
...,...,...,...,...,...,...,...,...,...,...
8248,11784,11784,1764696486,https://www.empleate.gob.es/empleo/#/oferta/17...,3820,Work/location,SE PRECISA PROGRAMADOR/A INFORMÁTICO/A JUNIOR ...,2022-09-03 00:00:00,NaN,Informática/telecomunicaciones -\r\nAnalistas/...
8249,11785,11785,1764647727,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Work/location,EYTON ES UNA MULTINACIONAL FRANCESA LÍDER ESPE...,2022-08-03 00:00:00,NaN,Dependientes/información -\r\nTeleoperadores\r...
8250,11786,11786,1764696417,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Work/location,ESDE BARNALABOR MARTORELL SELECCIONAMOS PARA M...,2022-09-03 00:00:00,NaN,Construcción -\r\nGrúas/excavadoras/maquinaria...
8251,11788,11788,1764696096,https://www.empleate.gob.es/empleo/#/oferta/17...,8432,Conductores-operadores de camión volquete,SE BUSCA CONDUCTOR CAMIÓN / SECTOR CONSTRUCCIÓ...,2022-02-03 00:00:00,NaN,Construcción -\r\nGrúas/excavadoras/maquinaria...
8252,11789,11789,1764647866,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Work/location,BUSQUEM UNA PERSONA POLIVALENT PER TREBALLAR D...,2022-08-03 00:00:00,NaN,Conductores/transporte -\r\nMensajería\r\nPeti...

## CORRECCIÓN DE NOMBRES DE VARIABLES

### Corrección automática

In [5]:
#df = clean_names(df)
#df

### Corrección manual

In [6]:
df.rename(columns = {'CABECERA':'categoria', 'ID':'id', 'LINK':'link', 'CNO':'cno', 'TITULO OFERTA':'titulo_oferta', 'DETALLE OFERTA':'detalle_oferta','FIN OFERTA':'fin_oferta','EMPRESA OFERTA':'empresa_oferta' }, inplace=True)
df

,Unnamed: 0.1,Unnamed: 0,id,link,cno,titulo_oferta,detalle_oferta,fin_oferta,empresa_oferta,categoria
0,4,4,1763217793,https://www.empleate.gob.es/empleo/#/oferta/17...,5220,Se necesita ayudante de dependienta,Horario partido de comercio en centro Madrid,2022-07-02 00:00:00,Fritos El Cisne SL,Agricultura/jardinería/alimentación -\r\nConse...
1,5,5,1763583482,https://www.empleate.gob.es/empleo/#/oferta/17...,4111,Administrativo marketing/vo,Edad: Que encaje en un contrato de formación.\...,14/02/2022,AUTOFER SL,Administración -\r\nAdministrativos\r\nEmplead...
2,6,6,1762685353,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Experto en soporte técnico,"Su área de responsabilidad\r\nInstalación, rep...",20/01/2022,Weinig Holz-Her España,Fábricas/industria -\r\nTécnicos Metalúrgicos\...
3,8,8,1762857238,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Operador de sala - pause & play torrecárdenas,Funciones del puesto:\r\n- Atención personaliz...,26/01/2022,Vision Innovation Diversion SL,Comunicación/cultura/entretenimiento -\r\nApue...
4,9,9,1764322624,https://www.empleate.gob.es/empleo/#/oferta/17...,4301,Administrativo,"nominas, contratos, seguros sociales- departam...",2022-02-03 00:00:00,"ORGADEM,SL",Administración -\r\nRecursos Humanos/personal\...
...,...,...,...,...,...,...,...,...,...,...
8248,11784,11784,1764696486,https://www.empleate.gob.es/empleo/#/oferta/17...,3820,Work/location,SE PRECISA PROGRAMADOR/A INFORMÁTICO/A JUNIOR ...,2022-09-03 00:00:00,NaN,Informática/telecomunicaciones -\r\nAnalistas/...
8249,11785,11785,1764647727,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Work/location,EYTON ES UNA MULTINACIONAL FRANCESA LÍDER ESPE...,2022-08-03 00:00:00,NaN,Dependientes/información -\r\nTeleoperadores\r...
8250,11786,11786,1764696417,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Work/location,ESDE BARNALABOR MARTORELL SELECCIONAMOS PARA M...,2022-09-03 00:00:00,NaN,Construcción -\r\nGrúas/excavadoras/maquinaria...
8251,11788,11788,1764696096,https://www.empleate.gob.es/empleo/#/oferta/17...,8432,Conductores-operadores de camión volquete,SE BUSCA CONDUCTOR CAMIÓN / SECTOR CONSTRUCCIÓ...,2022-02-03 00:00:00,NaN,Construcción -\r\nGrúas/excavadoras/maquinaria...
8252,11789,11789,1764647866,https://www.empleate.gob.es/empleo/#/oferta/17...,CNO no informado,Work/location,BUSQUEM UNA PERSONA POLIVALENT PER TREBALLAR D...,2022-08-03 00:00:00,NaN,Conductores/transporte -\r\nMensajería\r\nPeti...

## VISIÓN GENERAL

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8253 entries, 0 to 8252
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1    8253 non-null   int64
 1   Unnamed: 0      8253 non-null   int64
 2   id              8253 non-null   int64
 3   link            8253 non-null   object
 4   cno             8253 non-null   object
 5   titulo_oferta   8253 non-null   object
 6   detalle_oferta  8144 non-null   object
 7   fin_oferta      8253 non-null   object
 8   empresa_oferta  1996 non-null   object
 9   categoria       8253 non-null   object
dtypes: int64(3), object(7)
memory usage: 644.9+ KB

## TIPOS DE DATOS

### Identificación

In [8]:
df.dtypes

Unnamed: 0.1       int64
Unnamed: 0         int64
id                 int64
link              object
cno               object
titulo_oferta     object
detalle_oferta    object
fin_oferta        object
empresa_oferta    object
categoria         object
dtype: object

### Corrección

## VALORES ÚNICOS

### Identificación

In [9]:
df.nunique().sort_values()

cno                287
fin_oferta         614
empresa_oferta    1383
titulo_oferta     6551
categoria         6611
detalle_oferta    7518
Unnamed: 0.1      8253
Unnamed: 0        8253
id                8253
link              8253
dtype: int64

### Corrección

In [10]:
df.drop(columns = {'Unnamed: 0','Unnamed: 0.1', 'link','fin_oferta'  }, inplace = True)
df.head()

,id,cno,titulo_oferta,detalle_oferta,empresa_oferta,categoria
0,1763217793,5220,Se necesita ayudante de dependienta,Horario partido de comercio en centro Madrid,Fritos El Cisne SL,Agricultura/jardinería/alimentación -\r\nConse...
1,1763583482,4111,Administrativo marketing/vo,Edad: Que encaje en un contrato de formación.\...,AUTOFER SL,Administración -\r\nAdministrativos\r\nEmplead...
2,1762685353,CNO no informado,Experto en soporte técnico,"Su área de responsabilidad\r\nInstalación, rep...",Weinig Holz-Her España,Fábricas/industria -\r\nTécnicos Metalúrgicos\...
3,1762857238,CNO no informado,Operador de sala - pause & play torrecárdenas,Funciones del puesto:\r\n- Atención personaliz...,Vision Innovation Diversion SL,Comunicación/cultura/entretenimiento -\r\nApue...
4,1764322624,4301,Administrativo,"nominas, contratos, seguros sociales- departam...","ORGADEM,SL",Administración -\r\nRecursos Humanos/personal\...

## DUPLICADOS

### Identificación

In [11]:
df.duplicated().sum()

0

### Corrección

In [12]:
df.drop_duplicates(inplace = True)

## SEPARAR NUMÉRICAS Y CATEGÓRICAS

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8253 entries, 0 to 8252
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8253 non-null   int64
 1   cno             8253 non-null   object
 2   titulo_oferta   8253 non-null   object
 3   detalle_oferta  8144 non-null   object
 4   empresa_oferta  1996 non-null   object
 5   categoria       8253 non-null   object
dtypes: int64(1), object(5)
memory usage: 451.3+ KB

## GESTIÓN df

### Nulos

#### Identificación

In [14]:
df.isna().sum().sort_values(ascending = False)

empresa_oferta    6257
detalle_oferta     109
id                   0
cno                  0
titulo_oferta        0
categoria            0
dtype: int64

#### Corrección

##### Eliminar registros

In [15]:
# Eliminamos los registros donde el 'DETALLE OFERTA' es nulo. 

df = df.dropna(subset = ['detalle_oferta'])

In [16]:
# Eliminamos los registros donde el 'cno' es CNO no informado. 
df = df[df.cno != 'CNO no informado']
df.head()

,id,cno,titulo_oferta,detalle_oferta,empresa_oferta,categoria
0,1763217793,5220,Se necesita ayudante de dependienta,Horario partido de comercio en centro Madrid,Fritos El Cisne SL,Agricultura/jardinería/alimentación -\r\nConse...
1,1763583482,4111,Administrativo marketing/vo,Edad: Que encaje en un contrato de formación.\...,AUTOFER SL,Administración -\r\nAdministrativos\r\nEmplead...
4,1764322624,4301,Administrativo,"nominas, contratos, seguros sociales- departam...","ORGADEM,SL",Administración -\r\nRecursos Humanos/personal\...
5,1765500539,7221,Fontanero - calefactor,FONTANERO CALEFACTOR CON EXPERIENCIA EN MONTAJ...,TERCALOR,Fábricas/industria -\r\nMontadores Y Ensamblad...
6,1764985510,5120,Camarero con experiencia,"Camarero con experiencia, jornada completa, tu...",MARINELA LIVIA CUREAN,Hostelería/turismo -\r\nCamareros\r\nCamareros...

## GUARDAR DATASETS TRAS CALIDAD DE DATOS

Guarda los avances en df, cat y num con un sufijo para poder guardar o recuperar avances del proyecto.

En formato pickle para no perder las modificaciones de metadatos.

### Definir los nombres de los archivos

In [17]:
ruta_trabajo = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_calidad.pickle'

### Guardar los archivos

In [18]:
df.to_pickle(ruta_trabajo)