# EDA

## IMPORTAR PAQUETES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#Automcompletar rápido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

Sustituir la ruta del proyecto.

In [2]:
ruta_proyecto = 'C:/Users/Usuario/miniconda3/SAI Dia FBS/'

Nombres de los ficheros de datos.

In [3]:
nombre = 'trabajo_resultado_calidad.pickle'

Cargar los datos.

In [4]:
df = pd.read_pickle(ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre)
df.head()

,id,cno,titulo_oferta,detalle_oferta,empresa_oferta,categoria
0,1763217793,5220,Se necesita ayudante de dependienta,Horario partido de comercio en centro Madrid,Fritos El Cisne SL,Agricultura/jardinería/alimentación -\r\nConse...
1,1763583482,4111,Administrativo marketing/vo,Edad: Que encaje en un contrato de formación.\...,AUTOFER SL,Administración -\r\nAdministrativos\r\nEmplead...
4,1764322624,4301,Administrativo,"nominas, contratos, seguros sociales- departam...","ORGADEM,SL",Administración -\r\nRecursos Humanos/personal\...
5,1765500539,7221,Fontanero - calefactor,FONTANERO CALEFACTOR CON EXPERIENCIA EN MONTAJ...,TERCALOR,Fábricas/industria -\r\nMontadores Y Ensamblad...
6,1764985510,5120,Camarero con experiencia,"Camarero con experiencia, jornada completa, tu...",MARINELA LIVIA CUREAN,Hostelería/turismo -\r\nCamareros\r\nCamareros...

## EDA

### Análisis estadístico

In [5]:
df.shape

(5718, 6)

In [6]:
df.describe

<bound method NDFrame.describe of               id   cno                              titulo_oferta  \
0     1763217793  5220        Se necesita ayudante de dependienta
1     1763583482  4111                Administrativo marketing/vo
4     1764322624  4301                             Administrativo
5     1765500539  7221                     Fontanero - calefactor
6     1764985510  5120                   Camarero con experiencia
...          ...   ...                                        ...
8242  1764696353  5120                              Work/location
8244  1764647825  8432                              Work/location
8245  1764647755  2121           Enfermeros de cuidados generales
8248  1764696486  3820                              Work/location
8251  1764696096  8432  Conductores-operadores de camión volquete

                                         detalle_oferta  \
0          Horario partido de comercio en centro Madrid
1     Edad: Que encaje en un contrato de formación.\...
4     nominas, contratos, seguros sociales- departam...
5     FONTANERO CALEFACTOR CON EXPERIENCIA EN MONTAJ...
6     Camarero con experiencia, jornada completa, tu...
...                                                 ...
8242  DESDE TEMPORING SELECCIONAMOS CAMAREROS/AS PAR...
8244  EN RECERCA PERRUQUER/A PER A TREBALLAR A EMPRE...
8245  OFERTA Nº 3095 DE ENFERMERA/O PARA RESIDENCIA ...
8248  SE PRECISA PROGRAMADOR/A INFORMÁTICO/A JUNIOR ...
8251  SE BUSCA CONDUCTOR CAMIÓN / SECTOR CONSTRUCCIÓ...

             empresa_oferta                                          categoria
0        Fritos El Cisne SL  Agricultura/jardinería/alimentación -\r\nConse...
1                AUTOFER SL  Administración -\r\nAdministrativos\r\nEmplead...
4                ORGADEM,SL  Administración -\r\nRecursos Humanos/personal\...
5                  TERCALOR  Fábricas/industria -\r\nMontadores Y Ensamblad...
6     MARINELA LIVIA CUREAN  Hostelería/turismo -\r\nCamareros\r\nCamareros...
...                     ...                                                ...
8242                    NaN  Hostelería/turismo -\r\nAyudantes De Cocina/co...
8244                    NaN  Peluquería/estética -\r\nEstética\r\nConductor...
8245                    NaN  Salud/deporte -\r\nEnfermería\r\nEnfermeros No...
8248                    NaN  Informática/telecomunicaciones -\r\nAnalistas/...
8251                    NaN  Construcción -\r\nGrúas/excavadoras/maquinaria...

[5718 rows x 6 columns]>

In [7]:
def frecuencias(df):
    resultado = df.apply(lambda x: x.value_counts(normalize = True)).T.stack()\
                .to_frame().reset_index()\
                .rename(columns={'level_0':'Variable','level_1':'Valor',0: "Frecuencia"})\
                .sort_values(by = ['Variable','Frecuencia'])
    return(resultado)

In [8]:
frecuencias(df)

,Variable,Valor,Frecuencia
17016,categoria,-\r\nAnalistas Y Diseñadores De Software Y Mul...,0.000175
17017,categoria,-\r\nArquitectos (excepto Arquitectos Paisajis...,0.000175
17018,categoria,-\r\nArquitectos (excepto Arquitectos Paisajis...,0.000175
17019,categoria,-\r\nArquitectos (excepto Arquitectos Paisajis...,0.000175
17020,categoria,-\r\nArquitectos (excepto Arquitectos Paisajis...,0.000175
...,...,...,...
6875,titulo_oferta,Camarero/a,0.004197
7886,titulo_oferta,Enfermeros de cuidados generales,0.005247
7022,titulo_oferta,Comercial,0.005421
10541,titulo_oferta,Work/location,0.008395
10393,titulo_oferta,Técnico/a de radiología con alemán para coloni...,0.012067

In [9]:
df_cno = df['cno'].value_counts()
df_cno

3811    398
3820    192
2461    183
2713    178
5120    154
       ...
7321      1
3523      1
6430      1
4411      1
5893      1
Name: cno, Length: 285, dtype: int64

In [10]:
df['titulo_oferta'].value_counts()

Técnico/a de radiología con alemán para colonia/alemania                   69
Work/location                                                              48
Comercial                                                                  31
Enfermeros de cuidados generales                                           30
Camarero/a                                                                 24
                                                                           ..
Programador java / spring boot, 100% en remoto                              1
Ingeniero de proyectos y jefe de obra de instalaciones eléctricas (h/m)     1
Responsable permisos canalización fibra óptica alemania                     1
Ingeniero/a proyectos de obra en insatlaciones - gerona                     1
Conductores-operadores de camión volquete                                   1
Name: titulo_oferta, Length: 4546, dtype: int64

In [11]:
df['detalle_oferta']

0            Horario partido de comercio en centro Madrid
1       Edad: Que encaje en un contrato de formación.\...
4       nominas, contratos, seguros sociales- departam...
5       FONTANERO CALEFACTOR CON EXPERIENCIA EN MONTAJ...
6       Camarero con experiencia, jornada completa, tu...
                              ...
8242    DESDE TEMPORING SELECCIONAMOS CAMAREROS/AS PAR...
8244    EN RECERCA PERRUQUER/A PER A TREBALLAR A EMPRE...
8245    OFERTA Nº 3095 DE ENFERMERA/O PARA RESIDENCIA ...
8248    SE PRECISA PROGRAMADOR/A INFORMÁTICO/A JUNIOR ...
8251    SE BUSCA CONDUCTOR CAMIÓN / SECTOR CONSTRUCCIÓ...
Name: detalle_oferta, Length: 5718, dtype: object

In [12]:
df.iloc[0,:]

id                                                       1763217793
cno                                                            5220
titulo_oferta                   Se necesita ayudante de dependienta
detalle_oferta         Horario partido de comercio en centro Madrid
empresa_oferta                                   Fritos El Cisne SL
categoria         Agricultura/jardinería/alimentación -\r\nConse...
Name: 0, dtype: object

## GUARDAR DATASETS TRAS CALIDAD DE DATOS

Guarda los avances en cat y num con un sufijo para poder guardar o recuperar avances del proyecto.

En formato pickle para no perder las modificaciones de metadatos.

*NOTA: En algunos casos no hay cambios en los ficheros en esta fase, así que este paso es opcional.Pero si no guardas estos ficheros acuérdate de modificar la importación en el siguiente notebook.*

In [13]:
#Definir los nombres de los archivos
ruta = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'df_resultado_eda.pickle'

In [14]:
#Guardar los archivos
df.to_pickle(ruta)