# 0.   Packages and Functions

In [1]:
# !pip install jupyter_nbextensions_configurator

In [2]:
# !jupyter nbextensions_configurator enable --user

In [3]:
 !jupyter nbextension enable nbextensions_configurator/config_menu/main

Enabling notebook extension nbextensions_configurator/config_menu/main...
      - Validating: problems found:
        - require?  X nbextensions_configurator/config_menu/main

In [4]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\danieldabdub\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: lxml in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas_datareader) (4.5.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: pandas>=0.23 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas_datareader) (1.0.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\danieldabdub\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\danieldabdub\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\danieldabdub\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\danieldabdub\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\users\danieldabdub\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.15.0)

In [1]:

#general
import pandas as pd
import numpy as np
import pickle 
from decimal import Decimal
import re


#for dates and times
import random
import time
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar

#prices
import pandas_datareader as web

In [2]:


def str_time_prop(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%Y-%m-%d', prop)

In [3]:
def weekend2weekday (transactions, col_date, col_day):


  dates2_BUY=list()
  days2_BUY=list()

  for index,row in transactions.iterrows():
    buy_date = datetime.datetime.strptime(row[col_date], "%Y-%m-%d")
    if row[col_day]=='Sat':
      buy_date2 = buy_date - datetime.timedelta(1)
      dates2_BUY.append(buy_date2)

      buy_day2='Fri'
      days2_BUY.append(buy_day2)
    elif row[col_day]=='Sun':
      buy_date = datetime.datetime.strptime(row[col_day], "%Y-%m-%d")
      buy_date2 = buy_date + datetime.timedelta(1)
      dates2_BUY.append(buy_date2)

      buy_day2='Mon'
      days2_BUY.append(buy_day2)
    else:
      buy_date2=row[col_date]
      dates2_BUY.append(buy_date2)
      buy_day2=row[col_day]
      days2_BUY.append(buy_day2)

    transactions['date_BUY_fix']=dates2_BUY
    transactions['day_BUY_fix']=days2_BUY


  return transactions

# 1. Setting investment parameters

## Temporal horizons
 In number of days
 - 1 day to 2 years

In [4]:
horizons=[7,15,30,60,90,120,150,180,210,240,270,300,330,360,420,480,540,600,660,720]

## Amounts in dollars
 - 50 to 50,000 dollars

In [5]:
amounts=[50,100,200,300,400,500,1000,1500,2000,3000,4000,5000,10000,15000,20000,25000,50000]

# 2. Data extraction

## Companies' stock prices

In [6]:
#Selecting a list of companies we are interested in analyzing:
companies = ['AAPL',
            'AMZN',
            'MSFT',
            'GOOG',
            'FB',
            'NVDA',
             #automobiles
            'F',
            'GM',
            'HMC',
            'TSLA',
            'TYO',
             'HOG',
             #retail
             'WMT',
             'M',
             'TGT',
             'KSS',
             'COST',
             'BBY',
             #FastMovingConsumerGoods(FMCG)
             'NESN',
             'KO',
             'PEP',
             'ULVR',
             'PG',
             'OR',
            #bank
            'AXP',
            'VISA',
            'SC',
            'DB',
            'UBS',
            'BAC',
            'JPM']

In [7]:
tech_c=['AAPL','AMZN','MSFT','GOOG','FB','VISA','NVDA']
auto_c=['F','GM','HMC','TSLA','TYO','HOG']
retail_c=[ 'WMT', 'M','TGT','KSS','COST','BBY']
fmcg_c=['NESN','KO','PEP','ULVR','PG', 'OR']
bank_c=['AXP','VISA','SC', 'DB', 'UBS','BAC','JPM']

In [8]:
#ESG ratios
ESG_ratios=[16.5, 27.4, 14.7, 22.8, 31.6, 12.9, 29.7, 30.6, 28.5, 31.1, 30.3, 16.3, 27.3, 14.5, 14.8, 12.9, 22.3, 12.0, 28.3, 25.1, 17.6, 23.4, 25.1, 20.5, 19.8, 17.4, 26.9, 30.0, 24.8, 26.3, 27.9]

We are going to extract info from 10 years from the companies selected

In [9]:
#Collecting the data of each company in a list
l_companies_prices=list()
error_companies=list()
error_indexes=list()

for company in companies:
    try:
        prices= web.DataReader(company, data_source='yahoo', start='2010-10-10', end='2020-10-10')
        l_companies_prices.append(prices)
        print(company)
    
    except :
        print('There were  errors when extracting data of  ', company)
        #elimino de la lista esa empresa que no se consiguieron datos.
        error_companies.append(company)
        
        error_company_index=companies.index(company)
        error_indexes.append(error_company_index)


for c in error_companies:
  companies.remove(c)

ESG_ratios_fix=list()

for index in range(0, len(ESG_ratios)):
    if index not in error_indexes:
        ESG_ratios_fix.append(ESG_ratios[index])

AAPL
AMZN
MSFT
GOOG
FB
NVDA
F
GM
HMC
TSLA
TYO
HOG
WMT
M
TGT
KSS
COST
BBY
There were  errors when extracting data of   NESN
KO
PEP
There were  errors when extracting data of   ULVR
PG
OR
AXP
There were  errors when extracting data of   VISA
SC
DB
UBS
BAC
JPM

In [10]:
companies

['AAPL',
 'AMZN',
 'MSFT',
 'GOOG',
 'FB',
 'NVDA',
 'F',
 'GM',
 'HMC',
 'TSLA',
 'TYO',
 'HOG',
 'WMT',
 'M',
 'TGT',
 'KSS',
 'COST',
 'BBY',
 'KO',
 'PEP',
 'PG',
 'OR',
 'AXP',
 'SC',
 'DB',
 'UBS',
 'BAC',
 'JPM']

In [11]:
len(ESG_ratios_fix)

28

In [12]:
len(companies)

28

In [13]:
print(companies[0])
l_companies_prices[0].columns

AAPL

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [14]:
company_pos=companies.index("AAPL")
l_companies_prices[company_pos].loc['2010-10-11','Close']

10.54857063293457

# 3. Random transactions

In [15]:
transactions=pd.DataFrame()
#we do 500.000 initial transactions

#id
transactions['id']=range(1,200001)

## Companies

In [16]:
#random company
transactions["company"]=np.random.choice(companies, size=len(transactions))

## Sector

In [17]:
#sector of the company

random_companies=transactions['company'].tolist()
random_sectors=list()
for comp in random_companies:
    if comp in tech_c:
        sector='TECH'
    elif comp in auto_c:
        sector='AUTO'
    elif comp in retail_c:
        sector='RETAIL'
    elif comp in fmcg_c:
        sector='FMCG'
    elif comp in bank_c:
        sector='BANK'
    
    random_sectors.append(sector)

transactions['sector']=random_sectors

## Horizons

In [18]:
#random horizon
transactions["horizon (days)"] = np.random.choice(horizons, size=len(transactions))

## Investment Amounts

In [19]:
#random investment amount
transactions["amount"] = np.random.choice(amounts, size=len(transactions))

## Dates - BUY

In [20]:
#random buy date
start='2013-10-10'
end='2018-10-10'

dates_buy=list()

for i in range(0, transactions.shape[0]):
    r_date=random_date(start,end,random.random())
    dates_buy.append(r_date)


print(len(dates_buy))
transactions['date_BUY']=dates_buy

200000

### Fixing dates (BUY)

In [21]:
day_names=list()

for d in dates_buy:

  dt = datetime.datetime.strptime(d, '%Y-%m-%d')
  weekno=dt.weekday()

  if weekno == 0:
    dia='Mon'
    day_names.append(dia)
  elif weekno==1:
    dia='Tue'
    day_names.append(dia)
  elif weekno==2:
    dia='Wed'
    day_names.append(dia)
  elif weekno==3:
    dia='Thu'
    day_names.append(dia)
  elif weekno==4:
    dia='Fri'
    day_names.append(dia)
  elif weekno==5:
    dia='Sat'
    day_names.append(dia)
  elif weekno==6:
    dia='Sun'
    day_names.append(dia)

transactions['day_BUY']=day_names

In [22]:
dates2_BUY=list()
days2_BUY=list()

#if date is saturday, we are going to push it to friday
#if date is sunday, we are going to push it to monday

for index,row in transactions.iterrows():
  buy_date = datetime.datetime.strptime(row['date_BUY'], "%Y-%m-%d")
  if row['day_BUY']=='Sat':
    buy_date2 = buy_date - datetime.timedelta(1)
    dates2_BUY.append(buy_date2)

    buy_day2='Fri'
    days2_BUY.append(buy_day2)
  elif row['day_BUY']=='Sun':
    buy_date = datetime.datetime.strptime(row['date_BUY'], "%Y-%m-%d")
    buy_date2 = buy_date + datetime.timedelta(1)
    dates2_BUY.append(buy_date2)

    buy_day2='Mon'
    days2_BUY.append(buy_day2)
  else:
    buy_date2=buy_date
    dates2_BUY.append(buy_date2)
    buy_day2=row['day_BUY']
    days2_BUY.append(buy_day2)


transactions['date_BUY_fix']=dates2_BUY
transactions['day_BUY_fix']=days2_BUY

In [23]:
#checking for holidays (NYSE is closed)

cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2010-10-10', end='2020-10-10').to_pydatetime()
# if datetime.datetime(2014,01,01) in holidays:
#     print True 

l_holidays=list()
for d in dates2_BUY:
  if d in holidays:
    holiday='Holiday'
    l_holidays.append(holiday)

  else:
    holiday=''
    l_holidays.append(holiday)

transactions['holiday_BUY']=l_holidays

In [24]:
transactions_h=transactions[transactions.holiday_BUY=='Holiday']

transactions=transactions[transactions.holiday_BUY!='Holiday']

## Expected return and volatility

### Expected volatilities

In [25]:

l_volatilities = []
for company in companies:
    company_pos=companies.index(company)
    df_company_prices = pd.DataFrame(l_companies_prices[company_pos])
    log_ret = np.log(df_company_prices['Close'] / df_company_prices['Close'].shift(1))
    volatility = log_ret.rolling(window=252).std() * np.sqrt(252)
    df_company_prices.insert(2, "Volatility", volatility, True)
    l_volatilities.append(df_company_prices)

print(l_volatilities)

2
2010-10-14   9213600.0  16.657616
2010-10-15   6672800.0  16.754620
...                ...        ...
2020-10-05  14631000.0   6.060000
2020-10-06  22708200.0   5.810000
2020-10-07  17965500.0   5.960000
2020-10-08  21298800.0   6.290000
2020-10-09  19317400.0   6.230000

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   55.000000   54.240002         NaN   54.299999   54.849998
2010-10-12   54.910000   54.470001         NaN   54.869999   54.740002
2010-10-13   55.080002   54.349998         NaN   54.689999   54.419998
2010-10-14   54.619999   53.520000         NaN   54.459999   54.070000
2010-10-15   54.590000   53.970001         NaN   54.400002   54.330002
...                ...         ...         ...         ...         ...
2020-10-05  162.309998  159.990005    0.391384  159.990005  161.490005
2020-10-06  161.979996  157.610001    0.391750  161.470001  158.410004
2020-10-07  161.610001  159.610001    0.391938  160.059998  160.679993
2020-10-08  163.320007  161.389999    0.391682  162.600006  161.860001
2020-10-09  164.809998  162.100006    0.391806  162.199997  163.710007

               Volume   Adj Close
Date
2010-10-11  4470300.0   41.031727
2010-10-12  5787300.0   40.949440
2010-10-13  4053900.0   40.710056
2010-10-14  5660600.0   40.448231
2010-10-15  4208600.0   40.642727
...               ...         ...
2020-10-05  2268600.0  160.825195
2020-10-06  2932600.0  157.757874
2020-10-07  2927000.0  160.018524
2020-10-08  2189200.0  161.193665
2020-10-09  2582700.0  163.036057

[2518 rows x 7 columns],                  High        Low  Volatility       Open      Close     Volume  \
Date
2010-10-11  54.119999  53.320000         NaN  53.860001  53.560001  2392500.0
2010-10-12  53.709999  52.959999         NaN  53.599998  53.459999  2589000.0
2010-10-13  53.830002  52.939999         NaN  53.730000  53.009998  3001500.0
2010-10-14  53.580002  51.869999         NaN  53.029999  52.330002  5694400.0
2010-10-15  53.240002  51.970001         NaN  52.810001  53.169998  4613400.0
...               ...        ...         ...        ...        ...        ...
2020-10-05  20.750000  20.049999    0.924426  20.330000  20.420000  6275500.0
2020-10-06  20.750000  19.360001    0.925006  20.750000  19.490000  7438600.0
2020-10-07  20.740000  19.830000    0.927001  19.830000  20.639999  6694300.0
2020-10-08  21.900000  20.719999    0.928778  20.870001  21.889999  8074000.0
2020-10-09  22.240000  21.430000    0.928351  22.000000  21.530001  6681700.0

            Adj Close
Date
2010-10-11  37.662571
2010-10-12  37.592255
2010-10-13  37.275810
2010-10-14  36.797657
2010-10-15  37.388332
...               ...
2020-10-05  20.420000
2020-10-06  19.490000
2020-10-07  20.639999
2020-10-08  21.889999
2020-10-09  21.530001

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   64.489998   63.279999         NaN   63.389999   64.320000
2010-10-12   64.089996   63.310001         NaN   64.029999   63.340000
2010-10-13   63.959999   63.000000         NaN   63.200001   63.360001
2010-10-14   63.860001   62.910000         NaN   63.119999   63.180000
2010-10-15   63.770000   63.209999         NaN   63.459999   63.700001
...                ...         ...         ...         ...         ...
2020-10-05  358.980011  355.329987    0.277999  355.329987  358.579987
2020-10-06  363.000000  357.040009    0.277955  361.899994  358.350006
2020-10-07  364.739990  359.660004    0.278155  360.470001  363.019989
2020-10-08  365.970001  361.750000    0.277725  364.799988  365.089996
2020-10-09  369.750000  365.700012    0.277945  366.000000  369.459991

               Volume   Adj Close
Date
2010-10-11  2584800.0   48.734234
2010-10-12  4454400.0   47.991699
2010-10-13  5006500.0   48.006851
2010-10-14  4214500.0   47.870472
2010-10-15  4033400.0   48.264458
...               ...         ...
2020-10-05  2093500.0  348.756958
2020-10-06  2760400.0  348.533295
2020-10-07  1959100.0  353.075317
2020-10-08  1793100.0  355.088623
2020-10-09  1730700.0  359.338928

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   41.400002   40.700001         NaN   41.230000   40.860001
2010-10-12   40.980000   40.230000         NaN   40.700001   40.730000
2010-10-13   41.990002   40.930000         NaN   40.930000   41.029999
2010-10-14   41.040001   40.599998         NaN   41.020000   40.980000
2010-10-15   42.360001   41.000000         NaN   41.349998   42.150002
...                ...         ...         ...         ...         ...
2020-10-05  116.739998  112.570000    0.507145  112.570000  116.070000
2020-10-06  116.430000  112.250000    0.508266  115.980003  112.449997
2020-10-07  115.440002  113.760002    0.507873  114.000000  114.489998
2020-10-08  115.650002  113.910004    0.507858  115.129997  114.919998
2020-10-09  118.250000  115.110001    0.507829  115.370003  116.589996

               Volume   Adj Close
Date
2010-10-11  3491300.0   30.248907
2010-10-12  5350500.0   30.152655
2010-10-13  7025400.0   30.374758
2010-10-14  5502000.0   30.337744
2010-10-15  8742100.0   31.203899
...               ...         ...
2020-10-05  2006000.0  115.435425
2020-10-06  2395400.0  111.835213
2020-10-07  1552500.0  113.864059
2020-10-08  1523300.0  114.291710
2020-10-09  2824100.0  115.952576

[2518 rows x 7 columns],                  High        Low  Volatility       Open      Close  \
Date
2010-10-11  29.809999  29.665001         NaN  29.780001  29.780001
2010-10-12  29.900000  29.670000         NaN  29.670000  29.799999
2010-10-13  29.985001  29.830000         NaN  29.860001  29.969999
2010-10-14  29.990000  29.840000         NaN  29.969999  29.955000
2010-10-15  29.990000  29.870001         NaN  29.980000  29.969999
...               ...        ...         ...        ...        ...
2020-10-05  49.549999  49.119999    0.336592  49.430000  49.380001
2020-10-06  49.730000  48.830002    0.336488  49.549999  48.939999
2020-10-07  49.759998  48.950001    0.336699  49.020000  49.560001
2020-10-08  50.540001  49.540001    0.337161  49.709999  50.459999
2020-10-09  51.230000  50.599998    0.337224  50.669998  50.810001

                Volume  Adj Close
Date
2010-10-11  12997000.0  21.677502
2010-10-12  16164400.0  21.692070
2010-10-13  24011000.0  21.815813
2010-10-14  14491600.0  21.804893
2010-10-15  19697600.0  21.815813
...                ...        ...
2020-10-05  10628700.0  48.995831
2020-10-06  10077400.0  48.559250
2020-10-07  10135600.0  49.174431
2020-10-08  12143900.0  50.067425
2020-10-09  11407800.0  50.414703

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   65.760002   65.300003         NaN   65.739998   65.519997
2010-10-12   66.470001   65.000000         NaN   65.290001   66.080002
2010-10-13   66.800003   66.199997         NaN   66.309998   66.400002
2010-10-14   66.839996   66.449997         NaN   66.449997   66.639999
2010-10-15   67.000000   66.459999         NaN   66.889999   66.680000
...                ...         ...         ...         ...         ...
2020-10-05  138.380005  136.979996    0.363748  138.110001  137.929993
2020-10-06  138.820007  135.149994    0.363847  138.000000  135.699997
2020-10-07  137.520004  135.759995    0.363888  135.940002  137.009995
2020-10-08  138.130005  136.759995    0.363913  137.279999  137.850006
2020-10-09  139.259995  137.899994    0.363938  138.699997  138.440002

               Volume   Adj Close
Date
2010-10-11  5283100.0   48.454674
2010-10-12  7807800.0   48.868813
2010-10-13  5990500.0   49.105465
2010-10-14  6162300.0   49.282948
2010-10-15  6272100.0   49.312546
...               ...         ...
2020-10-05  4519800.0  136.954315
2020-10-06  5031000.0  134.740097
2020-10-07  4347300.0  136.040833
2020-10-08  2977400.0  136.874893
2020-10-09  3194000.0  137.460724

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   62.209999   61.860001         NaN   61.919998   62.139999
2010-10-12   62.180000   61.560001         NaN   62.009998   62.020000
2010-10-13   62.930000   62.080002         NaN   62.230000   62.630001
2010-10-14   62.840000   62.520000         NaN   62.669998   62.799999
2010-10-15   63.000000   62.549999         NaN   62.970001   62.759998
...                ...         ...         ...         ...         ...
2020-10-05  139.649994  138.300003    0.323947  138.720001  139.389999
2020-10-06  140.770004  138.809998    0.323797  139.419998  139.610001
2020-10-07  141.389999  139.369995    0.323470  140.080002  140.699997
2020-10-08  141.929993  140.360001    0.323428  140.559998  141.649994
2020-10-09  143.639999  141.699997    0.323533  141.839996  142.919998

                Volume   Adj Close
Date
2010-10-11   7425200.0   45.275635
2010-10-12  24975000.0   45.188206
2010-10-13   9906000.0   45.632656
2010-10-14   8771400.0   45.756523
2010-10-15   9943500.0   45.727375
...                ...         ...
2020-10-05   6333900.0  138.620316
2020-10-06   6042900.0  138.839096
2020-10-07   4640900.0  139.923080
2020-10-08   4569800.0  140.867828
2020-10-09   6551700.0  142.130814

[2518 rows x 7 columns],               High     Low  Volatility    Open   Close     Volume  Adj Close
Date
2016-07-06  13.650  13.350         NaN  13.350  13.640    75800.0  12.788130
2016-07-07  13.800  13.270         NaN  13.650  13.296    51500.0  12.465611
2016-07-08  13.707  12.910         NaN  13.320  13.620    36300.0  12.769378
2016-07-11  13.650  13.280         NaN  13.650  13.380    55700.0  12.544368
2016-07-12  13.520  13.000         NaN  13.400  13.040    52000.0  12.225601
...            ...     ...         ...     ...     ...        ...        ...
2020-10-05  12.155  11.790    0.600089  11.790  11.930   533000.0  11.891484
2020-10-06  12.840  12.040    0.599724  12.300  12.050  1364000.0  12.011097
2020-10-07  12.200  11.765    0.600085  12.150  11.810  1330100.0  11.771872
2020-10-08  12.015  11.760    0.599881  11.900  11.970   688900.0  11.931355
2020-10-09  12.550  12.170    0.601643  12.295  12.550  1785500.0  12.509482

[1075 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   38.450001   37.900002         NaN   38.169998   37.939999
2010-10-12   38.759998   37.900002         NaN   37.939999   38.540001
2010-10-13   39.860001   38.740002         NaN   38.919998   39.259998
2010-10-14   39.610001   39.009998         NaN   39.119999   39.439999
2010-10-15   39.799999   39.029999         NaN   39.750000   39.090000
...                ...         ...         ...         ...         ...
2020-10-05  104.080002  102.269997    0.586702  103.330002  103.889999
2020-10-06  105.290001  101.320000    0.587021  105.010002  101.760002
2020-10-07  104.150002  102.389999    0.587169  102.809998  103.379997
2020-10-08  106.139999  104.059998    0.587609  104.330002  106.059998
2020-10-09  107.209999  105.239998    0.587533  105.989998  106.339996

                Volume   Adj Close
Date
2010-10-11  10914000.0   32.574116
2010-10-12  19989300.0   33.089272
2010-10-13  19502400.0   33.707443
2010-10-14  14643600.0   33.861980
2010-10-15  14884400.0   33.561474
...                ...         ...
2020-10-05   2863200.0  103.096375
2020-10-06   3309200.0  100.982658
2020-10-07   3048400.0  102.590271
2020-10-08   2922600.0  105.689400
2020-10-09   3511300.0  105.968422

[2518 rows x 7 columns],                  High        Low  Volatility       Open      Close  \
Date
2014-01-23  26.500000  25.000000         NaN  25.750000  25.200001
2014-01-24  25.280001  24.000000         NaN  25.280001  24.209999
2014-01-27  24.990000  24.190001         NaN  24.230000  24.799999
2014-01-28  25.730000  24.430000         NaN  24.639999  25.690001
2014-01-29  25.799999  25.090000         NaN  25.290001  25.620001
...               ...        ...         ...        ...        ...
2020-10-05  19.910000  19.420000    0.740363  19.639999  19.809999
2020-10-06  20.440001  19.230000    0.740876  20.340000  19.240000
2020-10-07  19.910000  19.219999    0.740614  19.490000  19.379999
2020-10-08  19.809999  19.440001    0.740724  19.639999  19.719999
2020-10-09  20.139999  19.590000    0.740776  19.930000  19.940001

                Volume  Adj Close
Date
2014-01-23  34094000.0  22.321724
2014-01-24   8034700.0  21.444796
2014-01-27   3540900.0  21.967409
2014-01-28   2766700.0  22.755762
2014-01-29   2946100.0  22.693752
...                ...        ...
2020-10-05    650100.0  19.809999
2020-10-06    642500.0  19.240000
2020-10-07    715000.0  19.379999
2020-10-08    702400.0  19.719999
2020-10-09   2010600.0  19.940001

[1692 rows x 7 columns],                  High        Low  Volatility       Open      Close     Volume  \
Date
2010-10-11  54.007633  53.492367         NaN  53.826336  53.587788   793860.0
2010-10-12  53.635494  52.461830         NaN  52.996181  53.339695  1404634.0
2010-10-13  55.820610  54.780533         NaN  55.076336  55.066795  1400338.0
2010-10-14  56.030533  54.303436         NaN  55.916031  54.856869  2583425.0
2010-10-15  55.190842  53.482822         NaN  55.171757  54.074429  1485226.0
...               ...        ...         ...        ...        ...        ...
2020-10-05   8.710000   8.550000    0.582111   8.560000   8.700000  5380400.0
2020-10-06   9.200000   8.990000    0.582927   9.070000   9.010000  7807200.0
2020-10-07   9.270000   9.150000    0.582833   9.180000   9.230000  4203900.0
2020-10-08   9.400000   9.290000    0.582972   9.370000   9.360000  4655000.0
2020-10-09   9.390000   9.220000    0.582476   9.390000   9.280000  2246400.0

            Adj Close
Date
2010-10-11  45.830193
2010-10-12  45.618023
2010-10-13  47.095097
2010-10-14  46.915558
2010-10-15  46.246395
...               ...
2020-10-05   8.700000
2020-10-06   9.010000
2020-10-07   9.230000
2020-10-08   9.360000
2020-10-09   9.280000

[2518 rows x 7 columns],                  High        Low  Volatility       Open      Close     Volume  \
Date
2014-12-02  18.020000  17.879999         NaN  17.959999  18.000000   567400.0
2014-12-03  18.190001  18.080000         NaN  18.129999  18.160000   426100.0
2014-12-04  18.219999  18.100000         NaN  18.129999  18.170000   698800.0
2014-12-05  18.260000  18.090000         NaN  18.170000  18.219999   620400.0
2014-12-08  18.129999  17.959999         NaN  18.080000  18.040001   480200.0
...               ...        ...         ...        ...        ...        ...
2020-10-05  11.600000  11.490000    0.474170  11.530000  11.570000  2400200.0
2020-10-06  11.820000  11.570000    0.474144  11.800000  11.580000  3395000.0
2020-10-07  11.790000  11.660000    0.474275  11.690000  11.750000  2502700.0
2020-10-08  11.820000  11.700000    0.474278  11.810000  11.780000  2430100.0
2020-10-09  11.800000  11.596000    0.474022  11.800000  11.670000  2024800.0

            Adj Close
Date
2014-12-02  14.266798
2014-12-03  14.393614
2014-12-04  14.401540
2014-12-05  14.441169
2014-12-08  14.298502
...               ...
2020-10-05  11.279160
2020-10-06  11.288909
2020-10-07  11.454636
2020-10-08  11.483882
2020-10-09  11.376647

[1475 rows x 7 columns],                  High        Low  Volatility       Open      Close  \
Date
2010-10-11  13.250000  13.110000         NaN  13.200000  13.150000
2010-10-12  13.530000  13.090000         NaN  13.100000  13.520000
2010-10-13  13.640000  13.250000         NaN  13.600000  13.290000
2010-10-14  13.030000  12.420000         NaN  13.000000  12.600000
2010-10-15  12.680000  11.740000         NaN  12.660000  11.980000
...               ...        ...         ...        ...        ...
2020-10-05  24.709999  24.379999    0.555642  24.520000  24.620001
2020-10-06  25.190001  24.280001    0.555724  24.920000  24.370001
2020-10-07  25.110001  24.600000    0.555618  24.629999  24.879999
2020-10-08  25.299999  24.809999    0.555729  24.950001  25.240000
2020-10-09  25.490000  25.040001    0.555381  25.340000  25.360001

                 Volume  Adj Close
Date
2010-10-11  101283500.0  11.532122
2010-10-12  136898300.0  11.856599
2010-10-13  175054300.0  11.654898
2010-10-14  511175200.0  11.049791
2010-10-15  600410400.0  10.506070
...                 ...        ...
2020-10-05   44396800.0  24.467503
2020-10-06   67541100.0  24.219051
2020-10-07   47648000.0  24.725891
2020-10-08   52080600.0  25.083662
2020-10-09   44511500.0  25.202919

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   39.910000   39.400002         NaN   39.520000   39.730000
2010-10-12   40.490002   39.470001         NaN   39.470001   40.400002
2010-10-13   40.720001   39.580002         NaN   40.660000   39.840000
2010-10-14   39.380001   38.099998         NaN   39.250000   38.720001
2010-10-15   38.939999   36.540001         NaN   38.869999   37.150002
...                ...         ...         ...         ...         ...
2020-10-05   99.250000   97.529999    0.516339   98.320000   99.040001
2020-10-06  100.860001   97.510002    0.516429  100.070000   98.019997
2020-10-07  100.349998   98.669998    0.516267   98.959999   99.730003
2020-10-08  101.919998   99.900002    0.516629  100.510002  101.779999
2020-10-09  102.110001  100.110001    0.516456  102.000000  101.199997

                 Volume   Adj Close
Date
2010-10-11   24601000.0   30.039925
2010-10-12   38798100.0   30.546518
2010-10-13   69607700.0   30.123104
2010-10-14   76504900.0   29.276266
2010-10-15  142280400.0   28.089188
...                 ...         ...
2020-10-05   13871900.0   98.331841
2020-10-06   19220400.0   97.319130
2020-10-07   16358500.0   99.016914
2020-10-08   15659000.0  101.052246
2020-10-09   13689100.0  100.476395

[2518 rows x 7 columns]]

### Expected returns

In [26]:
l_returns = []
for company in companies:
    company_pos=companies.index(company)
    df_company_prices = pd.DataFrame(l_companies_prices[company_pos])
    returns = (df_company_prices['Close'] - df_company_prices['Close'].shift(1)) / df_company_prices['Close'].shift(1)
    df_company_prices.insert(2, "returns", returns, True)
    l_returns.append(df_company_prices)

In [27]:
l_returns

3.240002  51.970001  0.016052         NaN  52.810001  53.169998
 ...               ...        ...       ...         ...        ...        ...
 2020-10-05  20.750000  20.049999  0.023046    0.924426  20.330000  20.420000
 2020-10-06  20.750000  19.360001 -0.045544    0.925006  20.750000  19.490000
 2020-10-07  20.740000  19.830000  0.059005    0.927001  19.830000  20.639999
 2020-10-08  21.900000  20.719999  0.060562    0.928778  20.870001  21.889999
 2020-10-09  22.240000  21.430000 -0.016446    0.928351  22.000000  21.530001

                Volume  Adj Close
 Date
 2010-10-11  2392500.0  37.662571
 2010-10-12  2589000.0  37.592255
 2010-10-13  3001500.0  37.275810
 2010-10-14  5694400.0  36.797657
 2010-10-15  4613400.0  37.388332
 ...               ...        ...
 2020-10-05  6275500.0  20.420000
 2020-10-06  7438600.0  19.490000
 2020-10-07  6694300.0  20.639999
 2020-10-08  8074000.0  21.889999
 2020-10-09  6681700.0  21.530001

 [2518 rows x 8 columns],
                   High         Low   returns  Volatility        Open  \
 Date
 2010-10-11   64.489998   63.279999       NaN         NaN   63.389999
 2010-10-12   64.089996   63.310001 -0.015236         NaN   64.029999
 2010-10-13   63.959999   63.000000  0.000316         NaN   63.200001
 2010-10-14   63.860001   62.910000 -0.002841         NaN   63.119999
 2010-10-15   63.770000   63.209999  0.008230         NaN   63.459999
 ...                ...         ...       ...         ...         ...
 2020-10-05  358.980011  355.329987  0.010056    0.277999  355.329987
 2020-10-06  363.000000  357.040009 -0.000641    0.277955  361.899994
 2020-10-07  364.739990  359.660004  0.013032    0.278155  360.470001
 2020-10-08  365.970001  361.750000  0.005702    0.277725  364.799988
 2020-10-09  369.750000  365.700012  0.011970    0.277945  366.000000

                  Close     Volume   Adj Close
 Date
 2010-10-11   64.320000  2584800.0   48.734234
 2010-10-12   63.340000  4454400.0   47.991699
 2010-10-13   63.360001  5006500.0   48.006851
 2010-10-14   63.180000  4214500.0   47.870472
 2010-10-15   63.700001  4033400.0   48.264458
 ...                ...        ...         ...
 2020-10-05  358.579987  2093500.0  348.756958
 2020-10-06  358.350006  2760400.0  348.533295
 2020-10-07  363.019989  1959100.0  353.075317
 2020-10-08  365.089996  1793100.0  355.088623
 2020-10-09  369.459991  1730700.0  359.338928

 [2518 rows x 8 columns],
                   High         Low   returns  Volatility        Open  \
 Date
 2010-10-11   41.400002   40.700001       NaN         NaN   41.230000
 2010-10-12   40.980000   40.230000 -0.003182         NaN   40.700001
 2010-10-13   41.990002   40.930000  0.007366         NaN   40.930000
 2010-10-14   41.040001   40.599998 -0.001219         NaN   41.020000
 2010-10-15   42.360001   41.000000  0.028551         NaN   41.349998
 ...                ...         ...       ...         ...         ...
 2020-10-05  116.739998  112.570000  0.032468    0.507145  112.570000
 2020-10-06  116.430000  112.250000 -0.031188    0.508266  115.980003
 2020-10-07  115.440002  113.760002  0.018141    0.507873  114.000000
 2020-10-08  115.650002  113.910004  0.003756    0.507858  115.129997
 2020-10-09  118.250000  115.110001  0.014532    0.507829  115.370003

                  Close     Volume   Adj Close
 Date
 2010-10-11   40.860001  3491300.0   30.248907
 2010-10-12   40.730000  5350500.0   30.152655
 2010-10-13   41.029999  7025400.0   30.374758
 2010-10-14   40.980000  5502000.0   30.337744
 2010-10-15   42.150002  8742100.0   31.203899
 ...                ...        ...         ...
 2020-10-05  116.070000  2006000.0  115.435425
 2020-10-06  112.449997  2395400.0  111.835213
 2020-10-07  114.489998  1552500.0  113.864059
 2020-10-08  114.919998  1523300.0  114.291710
 2020-10-09  116.589996  2824100.0  115.952576

 [2518 rows x 8 columns],
                  High        Low   returns  Volatility       Open      Close  \
 Date
 2010-10-11  29.809999  29.665001       NaN         NaN  29.780001  29.780001
 2010-10-12  29.900000  29.670000  0.000672         NaN  29.670000  29.799999
 2010-10-13  29.985001  29.830000  0.005705         NaN  29.860001  29.969999
 2010-10-14  29.990000  29.840000 -0.000500         NaN  29.969999  29.955000
 2010-10-15  29.990000  29.870001  0.000501         NaN  29.980000  29.969999
 ...               ...        ...       ...         ...        ...        ...
 2020-10-05  49.549999  49.119999  0.000405    0.336592  49.430000  49.380001
 2020-10-06  49.730000  48.830002 -0.008911    0.336488  49.549999  48.939999
 2020-10-07  49.759998  48.950001  0.012669    0.336699  49.020000  49.560001
 2020-10-08  50.540001  49.540001  0.018160    0.337161  49.709999  50.459999
 2020-10-09  51.230000  50.599998  0.006936    0.337224  50.669998  50.810001

                 Volume  Adj Close
 Date
 2010-10-11  12997000.0  21.677502
 2010-10-12  16164400.0  21.692070
 2010-10-13  24011000.0  21.815813
 2010-10-14  14491600.0  21.804893
 2010-10-15  19697600.0  21.815813
 ...                ...        ...
 2020-10-05  10628700.0  48.995831
 2020-10-06  10077400.0  48.559250
 2020-10-07  10135600.0  49.174431
 2020-10-08  12143900.0  50.067425
 2020-10-09  11407800.0  50.414703

 [2518 rows x 8 columns],
                   High         Low   returns  Volatility        Open  \
 Date
 2010-10-11   65.760002   65.300003       NaN         NaN   65.739998
 2010-10-12   66.470001   65.000000  0.008547         NaN   65.290001
 2010-10-13   66.800003   66.199997  0.004843         NaN   66.309998
 2010-10-14   66.839996   66.449997  0.003614         NaN   66.449997
 2010-10-15   67.000000   66.459999  0.000600         NaN   66.889999
 ...                ...         ...       ...         ...         ...
 2020-10-05  138.380005  136.979996 -0.000942    0.363748  138.110001
 2020-10-06  138.820007  135.149994 -0.016168    0.363847  138.000000
 2020-10-07  137.520004  135.759995  0.009654    0.363888  135.940002
 2020-10-08  138.130005  136.759995  0.006131    0.363913  137.279999
 2020-10-09  139.259995  137.899994  0.004280    0.363938  138.699997

                  Close     Volume   Adj Close
 Date
 2010-10-11   65.519997  5283100.0   48.454674
 2010-10-12   66.080002  7807800.0   48.868813
 2010-10-13   66.400002  5990500.0   49.105465
 2010-10-14   66.639999  6162300.0   49.282948
 2010-10-15   66.680000  6272100.0   49.312546
 ...                ...        ...         ...
 2020-10-05  137.929993  4519800.0  136.954315
 2020-10-06  135.699997  5031000.0  134.740097
 2020-10-07  137.009995  4347300.0  136.040833
 2020-10-08  137.850006  2977400.0  136.874893
 2020-10-09  138.440002  3194000.0  137.460724

 [2518 rows x 8 columns],
                   High         Low   returns  Volatility        Open  \
 Date
 2010-10-11   62.209999   61.860001       NaN         NaN   61.919998
 2010-10-12   62.180000   61.560001 -0.001931         NaN   62.009998
 2010-10-13   62.930000   62.080002  0.009836         NaN   62.230000
 2010-10-14   62.840000   62.520000  0.002714         NaN   62.669998
 2010-10-15   63.000000   62.549999 -0.000637         NaN   62.970001
 ...                ...         ...       ...         ...         ...
 2020-10-05  139.649994  138.300003  0.009195    0.323947  138.720001
 2020-10-06  140.770004  138.809998  0.001578    0.323797  139.419998
 2020-10-07  141.389999  139.369995  0.007807    0.323470  140.080002
 2020-10-08  141.929993  140.360001  0.006752    0.323428  140.559998
 2020-10-09  143.639999  141.699997  0.008966    0.323533  141.839996

                  Close      Volume   Adj Close
 Date
 2010-10-11   62.139999   7425200.0   45.275635
 2010-10-12   62.020000  24975000.0   45.188206
 2010-10-13   62.630001   9906000.0   45.632656
 2010-10-14   62.799999   8771400.0   45.756523
 2010-10-15   62.759998   9943500.0   45.727375
 ...                ...         ...         ...
 2020-10-05  139.389999   6333900.0  138.620316
 2020-10-06  139.610001   6042900.0  138.839096
 2020-10-07  140.699997   4640900.0  139.923080
 2020-10-08  141.649994   4569800.0  140.867828
 2020-10-09  142.919998   6551700.0  142.130814

 [2518 rows x 8 columns],
               High     Low   returns  Volatility    Open   Close     Volume  \
 Date
 2016-07-06  13.650  13.350       NaN         NaN  13.350  13.640    75800.0
 2016-07-07  13.800  13.270 -0.025220         NaN  13.650  13.296    51500.0
 2016-07-08  13.707  12.910  0.024368         NaN  13.320  13.620    36300.0
 2016-07-11  13.650  13.280 -0.017621         NaN  13.650  13.380    55700.0
 2016-07-12  13.520  13.000 -0.025411         NaN  13.400  13.040    52000.0
 ...            ...     ...       ...         ...     ...     ...        ...
 2020-10-05  12.155  11.790  0.014456    0.600089  11.790  11.930   533000.0
 2020-10-06  12.840  12.040  0.010059    0.599724  12.300  12.050  1364000.0
 2020-10-07  12.200  11.765 -0.019917    0.600085  12.150  11.810  1330100.0
 2020-10-08  12.015  11.760  0.013548    0.599881  11.900  11.970   688900.0
 2020-10-09  12.550  12.170  0.048454    0.601643  12.295  12.550  1785500.0

             Adj Close
 Date
 2016-07-06  12.788130
 2016-07-07  12.465611
 2016-07-08  12.769378
 2016-07-11  12.544368
 2016-07-12  12.225601
 ...               ...
 2020-10-05  11.891484
 2020-10-06  12.011097
 2020-10-07  11.771872
 2020-10-08  11.931355
 2020-10-09  12.509482

 [1075 rows x 8 columns],
                   High         Low   returns  Volatility        Open  \
 Date
 2010-10-11   38.450001   37.900002       NaN         NaN   38.169998
 2010-10-12   38.759998   37.900002  0.015815         NaN   37.939999
 2010-10-13   39.860001   38.740002  0.018682         NaN   38.919998
 2010-10-14   39.610001   39.009998  0.004585         NaN   39.119999
 2010-10-15   39.799999   39.029999 -0.008874         NaN   39.750000
 ...                ...         ...       ...         ...         ...
 2020-10-05  104.080002  102.269997  0.022439    0.586702  103.330002
 2020-10-06  105.290001  101.320000 -0.020502    0.587021  105.010002
 2020-10-07  104.150002  102.389999  0.015920    0.587169  102.809998
 2020-10-08  106.139999  104.059998  0.025924    0.587609  104.330002
 2020-10-09  107.209999  105.239998  0.002640    0.587533  105.989998

                  Close      Volume   Adj Close
 Date
 2010-10-11   37.939999  10914000.0   32.574116
 2010-10-12   38.540001  19989300.0   33.089272
 2010-10-13   39.259998  19502400.0   33.707443
 2010-10-14   39.439999  14643600.0   33.861980
 2010-10-15   39.090000  14884400.0   33.561474
 ...                ...         ...         ...
 2020-10-05  103.889999   2863200.0  103.096375
 2020-10-06  101.760002   3309200.0  100.982658
 2020-10-07  103.379997   3048400.0  102.590271
 2020-10-08  106.059998   2922600.0  105.689400
 2020-10-09  106.339996   3511300.0  105.968422

 [2518 rows x 8 columns],
                  High        Low   returns  Volatility       Open      Close  \
 Date
 2014-01-23  26.500000  25.000000       NaN         NaN  25.750000  25.200001
 2014-01-24  25.280001  24.000000 -0.039286         NaN  25.280001  24.209999
 2014-01-27  24.990000  24.190001  0.024370         NaN  24.230000  24.799999
 2014-01-28  25.730000  24.430000  0.035887         NaN  24.639999  25.690001
 2014-01-29  25.799999  25.090000 -0.002725         NaN  25.290001  25.620001
 ...               ...        ...       ...         ...        ...        ...
 2020-10-05  19.910000  19.420000  0.028557    0.740363  19.639999  19.809999
 2020-10-06  20.440001  19.230000 -0.028773    0.740876  20.340000  19.240000
 2020-10-07  19.910000  19.219999  0.007276    0.740614  19.490000  19.379999
 2020-10-08  19.809999  19.440001  0.017544    0.740724  19.639999  19.719999
 2020-10-09  20.139999  19.590000  0.011156    0.740776  19.930000  19.940001

                 Volume  Adj Close
 Date
 2014-01-23  34094000.0  22.321724
 2014-01-24   8034700.0  21.444796
 2014-01-27   3540900.0  21.967409
 2014-01-28   2766700.0  22.755762
 2014-01-29   2946100.0  22.693752
 ...                ...        ...
 2020-10-05    650100.0  19.809999
 2020-10-06    642500.0  19.240000
 2020-10-07    715000.0  19.379999
 2020-10-08    702400.0  19.719999
 2020-10-09   2010600.0  19.940001

 [1692 rows x 8 columns],
                  High        Low   returns  Volatility       Open      Close  \
 Date
 2010-10-11  54.007633  53.492367       NaN         NaN  53.826336  53.587788
 2010-10-12  53.635494  52.461830 -0.004630         NaN  52.996181  53.339695
 2010-10-13  55.820610  54.780533  0.032379         NaN  55.076336  55.066795
 2010-10-14  56.030533  54.303436 -0.003812         NaN  55.916031  54.856869
 2010-10-15  55.190842  53.482822 -0.014263         NaN  55.171757  54.074429
 ...               ...        ...       ...         ...        ...        ...
 2020-10-05   8.710000   8.550000  0.023529    0.582111   8.560000   8.700000
 2020-10-06   9.200000   8.990000  0.035632    0.582927   9.070000   9.010000
 2020-10-07   9.270000   9.150000  0.024417    0.582833   9.180000   9.230000
 2020-10-08   9.400000   9.290000  0.014085    0.582972   9.370000   9.360000
 2020-10-09   9.390000   9.220000 -0.008547    0.582476   9.390000   9.280000

                Volume  Adj Close
 Date
 2010-10-11   793860.0  45.830193
 2010-10-12  1404634.0  45.618023
 2010-10-13  1400338.0  47.095097
 2010-10-14  2583425.0  46.915558
 2010-10-15  1485226.0  46.246395
 ...               ...        ...
 2020-10-05  5380400.0   8.700000
 2020-10-06  7807200.0   9.010000
 2020-10-07  4203900.0   9.230000
 2020-10-08  4655000.0   9.360000
 2020-10-09  2246400.0   9.280000

 [2518 rows x 8 columns],
                  High        Low   returns  Volatility       Open      Close  \
 Date
 2014-12-02  18.020000  17.879999       NaN         NaN  17.959999  18.000000
 2014-12-03  18.190001  18.080000  0.008889         NaN  18.129999  18.160000
 2014-12-04  18.219999  18.100000  0.000551         NaN  18.129999  18.170000
 2014-12-05  18.260000  18.090000  0.002752         NaN  18.170000  18.219999
 2014-12-08  18.129999  17.959999 -0.009879         NaN  18.080000  18.040001
 ...               ...        ...       ...         ...        ...        ...
 2020-10-05  11.600000  11.490000  0.020282    0.474170  11.530000  11.570000
 2020-10-06  11.820000  11.570000  0.000864    0.474144  11.800000  11.580000
 2020-10-07  11.790000  11.660000  0.014680    0.474275  11.690000  11.750000
 2020-10-08  11.820000  11.700000  0.002553    0.474278  11.810000  11.780000
 2020-10-09  11.800000  11.596000 -0.009338    0.474022  11.800000  11.670000

                Volume  Adj Close
 Date
 2014-12-02   567400.0  14.266798
 2014-12-03   426100.0  14.393614
 2014-12-04   698800.0  14.401540
 2014-12-05   620400.0  14.441169
 2014-12-08   480200.0  14.298502
 ...               ...        ...
 2020-10-05  2400200.0  11.279160
 2020-10-06  3395000.0  11.288909
 2020-10-07  2502700.0  11.454636
 2020-10-08  2430100.0  11.483882
 2020-10-09  2024800.0  11.376647

 [1475 rows x 8 columns],
                  High        Low   returns  Volatility       Open      Close  \
 Date
 2010-10-11  13.250000  13.110000       NaN         NaN  13.200000  13.150000
 2010-10-12  13.530000  13.090000  0.028137         NaN  13.100000  13.520000
 2010-10-13  13.640000  13.250000 -0.017012         NaN  13.600000  13.290000
 2010-10-14  13.030000  12.420000 -0.051919         NaN  13.000000  12.600000
 2010-10-15  12.680000  11.740000 -0.049206         NaN  12.660000  11.980000
 ...               ...        ...       ...         ...        ...        ...
 2020-10-05  24.709999  24.379999  0.016935    0.555642  24.520000  24.620001
 2020-10-06  25.190001  24.280001 -0.010154    0.555724  24.920000  24.370001
 2020-10-07  25.110001  24.600000  0.020927    0.555618  24.629999  24.879999
 2020-10-08  25.299999  24.809999  0.014469    0.555729  24.950001  25.240000
 2020-10-09  25.490000  25.040001  0.004754    0.555381  25.340000  25.360001

                  Volume  Adj Close
 Date
 2010-10-11  101283500.0  11.532122
 2010-10-12  136898300.0  11.856599
 2010-10-13  175054300.0  11.654898
 2010-10-14  511175200.0  11.049791
 2010-10-15  600410400.0  10.506070
 ...                 ...        ...
 2020-10-05   44396800.0  24.467503
 2020-10-06   67541100.0  24.219051
 2020-10-07   47648000.0  24.725891
 2020-10-08   52080600.0  25.083662
 2020-10-09   44511500.0  25.202919

 [2518 rows x 8 columns],
                   High         Low   returns  Volatility        Open  \
 Date
 2010-10-11   39.910000   39.400002       NaN         NaN   39.520000
 2010-10-12   40.490002   39.470001  0.016864         NaN   39.470001
 2010-10-13   40.720001   39.580002 -0.013861         NaN   40.660000
 2010-10-14   39.380001   38.099998 -0.028112         NaN   39.250000
 2010-10-15   38.939999   36.540001 -0.040548         NaN   38.869999
 ...                ...         ...       ...         ...         ...
 2020-10-05   99.250000   97.529999  0.011748    0.516339   98.320000
 2020-10-06  100.860001   97.510002 -0.010299    0.516429  100.070000
 2020-10-07  100.349998   98.669998  0.017445    0.516267   98.959999
 2020-10-08  101.919998   99.900002  0.020555    0.516629  100.510002
 2020-10-09  102.110001  100.110001 -0.005699    0.516456  102.000000

                  Close       Volume   Adj Close
 Date
 2010-10-11   39.730000   24601000.0   30.039925
 2010-10-12   40.400002   38798100.0   30.546518
 2010-10-13   39.840000   69607700.0   30.123104
 2010-10-14   38.720001   76504900.0   29.276266
 2010-10-15   37.150002  142280400.0   28.089188
 ...                ...          ...         ...
 2020-10-05   99.040001   13871900.0   98.331841
 2020-10-06   98.019997   19220400.0   97.319130
 2020-10-07   99.730003   16358500.0   99.016914
 2020-10-08  101.779999   15659000.0  101.052246
 2020-10-09  101.199997   13689100.0  100.476395

 [2518 rows x 8 columns]]

In [28]:
l_yearly_returns = []
for company in companies:
    company_pos=companies.index(company)
    df_company_prices = pd.DataFrame(l_companies_prices[company_pos])
    try:
        df_yearly = df_company_prices["Close"].resample('Y').first().pct_change()
        
        yearly_mean = df_yearly.mean()
    except:
        print( company)
        print(df_company_prices)
        yearly_mean = 0
    l_yearly_returns.append([company,yearly_mean])
print(l_yearly_returns)

[['AAPL', 0.24576212706845474], ['AMZN', 0.32878772362638664], ['MSFT', 0.21823741952413256], ['GOOG', 0.191378431933231], ['FB', 0.30161872761801845], ['NVDA', 0.4931171561846849], ['F', -0.011976915482311935], ['GM', 0.04088241949150044], ['HMC', -0.009170559827996482], ['TSLA', 0.5157369284319866], ['TYO', -0.10592633571589997], ['HOG', 0.044568829075491104], ['WMT', 0.09703322358290575], ['M', 0.008681139192578402], ['TGT', 0.11412148248236709], ['KSS', 0.006854575724160139], ['COST', 0.1674207351165724], ['BBY', 0.2622984487062406], ['KO', 0.06441514580167561], ['PEP', 0.07940352791222091], ['PG', 0.07725201668740694], ['OR', -0.06175039426047935], ['AXP', 0.14723187952081127], ['SC', 0.011489650389287712], ['DB', -0.14093138981130585], ['UBS', -0.0394967250395171], ['BAC', 0.18910217427914794], ['JPM', 0.15206171805688737]]

## Prices - BUY

In [29]:
#price when bought

l_buy_prices=list()
l_volatility=list()
for index,row in transactions.iterrows():
    comp=row['company']
    buy_date=row['date_BUY_fix']
    company_pos=companies.index(comp)
    try:
        price=l_companies_prices[company_pos].loc[buy_date,'Adj Close']
        volatility= l_volatilities[company_pos].loc[buy_date, 'Volatility']
    except :
        price=np.NaN

    l_buy_prices.append(price)

transactions['price_BUY']=l_buy_prices

In [30]:
l_volatility_buy=list()
for index,row in transactions.iterrows():
    comp=row['company']
    buy_date=row['date_BUY_fix']
    company_pos=companies.index(comp)
    try:
        volatility= l_volatilities[company_pos].loc[buy_date, 'Volatility']
    except :
        volatility=np.NaN
    
    l_volatility_buy.append(volatility)
    
print(len(l_volatility_buy))


transactions['Volatility_Buy'] = l_volatility_buy

190092

## Dates - SELL

In [31]:
#random sell date
dates_SELL=list()
expected_return = list()

for index,row in transactions.iterrows():
    comp=row['company']
    company_pos=companies.index(comp)
    buy_date = row['date_BUY_fix']
    sell_date = buy_date + datetime.timedelta(row['horizon (days)'])
    expected_return.append(row['horizon (days)']/365 * l_yearly_returns[company_pos][1])

    dates_SELL.append(sell_date)

transactions['expected_return (yearly)'] = expected_return
transactions['date_SELL']=dates_SELL

### Fixing dates (SELL)

In [32]:
day_names=list()



for d in dates_SELL:

  # dt = datetime.datetime.strptime(d, '%Y-%m-%d')
  weekno=d.weekday()

  if weekno == 0:
    dia='Mon'
    day_names.append(dia)
  elif weekno==1:
    dia='Tue'
    day_names.append(dia)
  elif weekno==2:
    dia='Wed'
    day_names.append(dia)
  elif weekno==3:
    dia='Thu'
    day_names.append(dia)
  elif weekno==4:
    dia='Fri'
    day_names.append(dia)
  elif weekno==5:
    dia='Sat'
    day_names.append(dia)
  elif weekno==6:
    dia='Sun'
    day_names.append(dia)

transactions['day_SELL']=day_names

In [33]:
dates2_SELL=list()
days2_SELL=list()

#if date is saturday, we are going to push it to friday
#if date is sunday, we are going to push it to monday

for index,row in transactions.iterrows():
  SELL_date = row['date_SELL']
  if row['day_SELL']=='Sat':
    SELL_date2 = SELL_date - datetime.timedelta(1)
    dates2_SELL.append(SELL_date2)

    SELL_day2='Fri'
    days2_SELL.append(SELL_day2)
  elif row['day_SELL']=='Sun':
    SELL_date = row['date_SELL']
    SELL_date2 = SELL_date + datetime.timedelta(1)
    dates2_SELL.append(SELL_date2)

    SELL_day2='Mon'
    days2_SELL.append(SELL_day2)
  else:
    SELL_date2=SELL_date
    dates2_SELL.append(SELL_date2)
    SELL_day2=row['day_SELL']
    days2_SELL.append(SELL_day2)


transactions['date_SELL_fix']=dates2_SELL
transactions['day_SELL_fix']=days2_SELL

# transactions=weekend2weekday(transactions,'date_BUY','day_BUY' )

### Sharpe Ratio

In [34]:
l_sharpe=list()
for index,row in transactions.iterrows():
    comp=row['company']
    buy_date=row['date_BUY_fix']
    company_pos=companies.index(comp)
    r = l_returns
    try:
        df_company_returns = pd.DataFrame(l_returns[company_pos])
        r=df_company_returns["returns"]
        sr = r.mean()/r.std() * np.sqrt(252)
        
    except :
        sr=np.NaN
        
    l_sharpe.append(sr)
    
print(len(l_sharpe))


transactions['Sharpe Ratio'] = l_sharpe

190092

In [35]:
#checking for holidays (NYSE, NASDAQ is closed)
cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2010-10-10', end='2020-10-10').to_pydatetime()
# if datetime.datetime(2014,01,01) in holidays:
#     print True 

l_holidays=list()
for d in dates2_SELL:
  if d in holidays:
    holiday='Holiday'
    l_holidays.append(holiday)

  else:
    holiday=''
    l_holidays.append(holiday)

transactions['holiday_SELL']=l_holidays

## Prices - SELL

In [36]:
#price when sold

l_sell_prices=list()
for index,row in transactions.iterrows():
  comp=row['company']
  sell_date=row['date_SELL_fix']
  company_pos=companies.index(comp)
  try:
    price=l_companies_prices[company_pos].loc[sell_date,'Adj Close']
  except :
    price=np.NaN

  l_sell_prices.append(price)

transactions['price_SELL']=l_sell_prices

In [37]:
l_volatility_sell=list()
for index,row in transactions.iterrows():
    comp=row['company']
    sell_date=row['date_SELL_fix']
    company_pos=companies.index(comp)
    try:
        volatility=l_volatilities[company_pos].loc[sell_date,'Volatility']
    except :
        volatility=np.NaN

        
    l_volatility_sell.append(volatility)

transactions['Volatility_sell']=l_volatility_sell

In [38]:
transactions_h=transactions[transactions.holiday_SELL=='Holiday']
transactions=transactions[transactions.holiday_SELL!='Holiday']

# Dataset transactions - review missing values

In [39]:
transactions

,id,company,sector,horizon (days),amount,date_BUY,day_BUY,date_BUY_fix,day_BUY_fix,holiday_BUY,...,Volatility_Buy,expected_return (yearly),date_SELL,day_SELL,date_SELL_fix,day_SELL_fix,Sharpe Ratio,holiday_SELL,price_SELL,Volatility_sell
0,1,TSLA,AUTO,7,500,2017-06-14,Wed,2017-06-14,Wed,,...,0.336212,0.009891,2017-06-21,Wed,2017-06-21,Wed,1.115540,,75.279999,0.336167
1,2,SC,BANK,600,3000,2018-07-09,Mon,2018-07-09,Mon,,...,0.291036,0.018887,2020-02-29,Sat,2020-02-28,Fri,0.132227,,23.415619,0.247294
2,3,DB,BANK,330,5000,2014-04-03,Thu,2014-04-03,Thu,,...,0.261244,-0.127417,2015-02-27,Fri,2015-02-27,Fri,-0.210016,,30.680777,0.260936
3,4,AMZN,TECH,90,15000,2015-01-10,Sat,2015-01-09,Fri,,...,0.329601,0.081071,2015-04-09,Thu,2015-04-09,Thu,1.129542,,383.540009,0.324660
5,6,BBY,RETAIL,30,50,2016-06-30,Thu,2016-06-30,Thu,,...,0.349990,0.021559,2016-07-30,Sat,2016-07-29,Fri,0.462873,,29.844707,0.348505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199996,KSS,RETAIL,60,50,2015-05-09,Sat,2015-05-08,Fri,,...,0.226325,0.001127,2015-07-07,Tue,2015-07-07,Tue,0.001703,,51.271896,0.263863
199996,199997,OR,FMCG,7,500,2014-08-16,Sat,2014-08-15,Fri,,...,NaN,-0.001184,2014-08-22,Fri,2014-08-22,Fri,0.158124,,NaN,NaN
199997,199998,AAPL,TECH,90,100,2016-04-14,Thu,2016-04-14,Thu,,...,0.275282,0.060599,2016-07-13,Wed,2016-07-13,Wed,0.997028,,22.695921,0.281343
199998,199999,DB,BANK,540,1000,2015-08-10,Mon,2015-08-10,Mon,,...,0.292055,-0.208501,2017-01-31,Tue,2017-01-31,Tue,-0.210016,,19.146446,0.517937
199999,200000,TSLA,AUTO,600,15000,2015-06-03,Wed,2015-06-03,Wed,,...,0.374240,0.847787,2017-01-23,Mon,2017-01-23,Mon,1.115540,,49.784000,0.382662

In [40]:
print(transactions.isnull().values.sum())
transactions.isnull().sum()

29172

id                              0
company                         0
sector                          0
horizon (days)                  0
amount                          0
date_BUY                        0
day_BUY                         0
date_BUY_fix                    0
day_BUY_fix                     0
holiday_BUY                     0
price_BUY                    6617
Volatility_Buy              10489
expected_return (yearly)        0
date_SELL                       0
day_SELL                        0
date_SELL_fix                   0
day_SELL_fix                    0
Sharpe Ratio                    0
holiday_SELL                    0
price_SELL                   4453
Volatility_sell              7613
dtype: int64

In [41]:
df_review=transactions.copy()
print('original    :',df_review.shape[0])
print('without NAN :',df_review.dropna().shape[0])
print('rows with NAN: ',df_review.shape[0]-df_review.dropna().shape[0])

original    : 181298
without NAN : 169720
rows with NAN:  11578

In [42]:
transactions=transactions.dropna()

In [43]:
transactions.shape

(169720, 21)

Now, getting only relevant columns

In [44]:
transactions_ready=transactions[['company','sector','horizon (days)','amount','date_BUY_fix','date_SELL_fix','price_BUY','price_SELL','Volatility_Buy','Volatility_sell', 'Sharpe Ratio', 'expected_return (yearly)']]

In [45]:
transactions_ready

,company,sector,horizon (days),amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,Sharpe Ratio,expected_return (yearly)
0,TSLA,AUTO,7,500,2017-06-14,2017-06-21,76.132004,75.279999,0.336212,0.336167,1.115540,0.009891
1,SC,BANK,600,3000,2018-07-09,2020-02-28,17.611959,23.415619,0.291036,0.247294,0.132227,0.018887
2,DB,BANK,330,5000,2014-04-03,2015-02-27,39.276001,30.680777,0.261244,0.260936,-0.210016,-0.127417
3,AMZN,TECH,90,15000,2015-01-09,2015-04-09,296.929993,383.540009,0.329601,0.324660,1.129542,0.081071
5,BBY,RETAIL,30,50,2016-06-30,2016-07-29,27.180000,29.844707,0.349990,0.348505,0.462873,0.021559
...,...,...,...,...,...,...,...,...,...,...,...,...
199994,MSFT,TECH,30,4000,2015-12-10,2016-01-08,50.435631,47.752792,0.281871,0.281726,0.977717,0.017937
199995,KSS,RETAIL,60,50,2015-05-08,2015-07-07,58.212013,51.271896,0.226325,0.263863,0.001703,0.001127
199997,AAPL,TECH,90,100,2016-04-14,2016-07-13,26.105249,22.695921,0.275282,0.281343,0.997028,0.060599
199998,DB,BANK,540,1000,2015-08-10,2017-01-31,32.734558,19.146446,0.292055,0.517937,-0.210016,-0.208501
199999,TSLA,AUTO,600,15000,2015-06-03,2017-01-23,49.798000,49.784000,0.374240,0.382662,1.115540,0.847787

# Evaluating investment performance

## Inflation
As investors, we seek to at least beat the rate of inflation.

In [46]:
inflation_ratios=pd.read_csv('./../datasets/ratios_inflacion.csv', index_col=False)
# inflation_ratios['Year'] = pd.to_datetime(inflation_ratios['Year'], format='%Y')

inflation_ratios=inflation_ratios.set_index('Year')

# inflation.info()

In [47]:
inflation_ratios.loc[2017,'Tasa_inflacion']

1.96

In [48]:
l_inflation=list()
for index,row in transactions_ready.iterrows():
    buy_date=row['date_BUY_fix']
    buy_date_str=str(buy_date)
    year=int(buy_date_str[:4])
    try:
        inflation=inflation_ratios.loc[year,'Tasa_inflacion']
    except :
        inflation=np.NaN

    l_inflation.append(inflation)

transactions_ready['inflation']=l_inflation

In [49]:
transactions_ready.isnull().sum

<bound method DataFrame.sum of         company  sector  horizon (days)  amount  date_BUY_fix  date_SELL_fix  \
0         False   False           False   False         False          False
1         False   False           False   False         False          False
2         False   False           False   False         False          False
3         False   False           False   False         False          False
5         False   False           False   False         False          False
...         ...     ...             ...     ...           ...            ...
199994    False   False           False   False         False          False
199995    False   False           False   False         False          False
199997    False   False           False   False         False          False
199998    False   False           False   False         False          False
199999    False   False           False   False         False          False

        price_BUY  price_SELL  Volatility_Buy  Volatility_sell  Sharpe Ratio  \
0           False       False           False            False         False
1           False       False           False            False         False
2           False       False           False            False         False
3           False       False           False            False         False
5           False       False           False            False         False
...           ...         ...             ...              ...           ...
199994      False       False           False            False         False
199995      False       False           False            False         False
199997      False       False           False            False         False
199998      False       False           False            False         False
199999      False       False           False            False         False

        expected_return (yearly)  inflation
0                          False      False
1                          False      False
2                          False      False
3                          False      False
5                          False      False
...                          ...        ...
199994                     False      False
199995                     False      False
199997                     False      False
199998                     False      False
199999                     False      False

[169720 rows x 13 columns]>

In [50]:
transactions_ready

,company,sector,horizon (days),amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,Sharpe Ratio,expected_return (yearly),inflation
0,TSLA,AUTO,7,500,2017-06-14,2017-06-21,76.132004,75.279999,0.336212,0.336167,1.115540,0.009891,1.96
1,SC,BANK,600,3000,2018-07-09,2020-02-28,17.611959,23.415619,0.291036,0.247294,0.132227,0.018887,1.68
2,DB,BANK,330,5000,2014-04-03,2015-02-27,39.276001,30.680777,0.261244,0.260936,-0.210016,-0.127417,-0.15
3,AMZN,TECH,90,15000,2015-01-09,2015-04-09,296.929993,383.540009,0.329601,0.324660,1.129542,0.081071,-0.50
5,BBY,RETAIL,30,50,2016-06-30,2016-07-29,27.180000,29.844707,0.349990,0.348505,0.462873,0.021559,-0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,MSFT,TECH,30,4000,2015-12-10,2016-01-08,50.435631,47.752792,0.281871,0.281726,0.977717,0.017937,-0.50
199995,KSS,RETAIL,60,50,2015-05-08,2015-07-07,58.212013,51.271896,0.226325,0.263863,0.001703,0.001127,-0.50
199997,AAPL,TECH,90,100,2016-04-14,2016-07-13,26.105249,22.695921,0.275282,0.281343,0.997028,0.060599,-0.20
199998,DB,BANK,540,1000,2015-08-10,2017-01-31,32.734558,19.146446,0.292055,0.517937,-0.210016,-0.208501,-0.50
199999,TSLA,AUTO,600,15000,2015-06-03,2017-01-23,49.798000,49.784000,0.374240,0.382662,1.115540,0.847787,-0.50

## Real Profit/Loss (Rentabilidad Real)

In [51]:
    transactions_ready['nominal_return']=(transactions_ready['price_SELL']-transactions_ready['price_BUY'])/transactions_ready['price_BUY']

In [52]:
transactions_ready

,company,sector,horizon (days),amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,Sharpe Ratio,expected_return (yearly),inflation,nominal_return
0,TSLA,AUTO,7,500,2017-06-14,2017-06-21,76.132004,75.279999,0.336212,0.336167,1.115540,0.009891,1.96,-0.011191
1,SC,BANK,600,3000,2018-07-09,2020-02-28,17.611959,23.415619,0.291036,0.247294,0.132227,0.018887,1.68,0.329529
2,DB,BANK,330,5000,2014-04-03,2015-02-27,39.276001,30.680777,0.261244,0.260936,-0.210016,-0.127417,-0.15,-0.218842
3,AMZN,TECH,90,15000,2015-01-09,2015-04-09,296.929993,383.540009,0.329601,0.324660,1.129542,0.081071,-0.50,0.291685
5,BBY,RETAIL,30,50,2016-06-30,2016-07-29,27.180000,29.844707,0.349990,0.348505,0.462873,0.021559,-0.20,0.098039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,MSFT,TECH,30,4000,2015-12-10,2016-01-08,50.435631,47.752792,0.281871,0.281726,0.977717,0.017937,-0.50,-0.053193
199995,KSS,RETAIL,60,50,2015-05-08,2015-07-07,58.212013,51.271896,0.226325,0.263863,0.001703,0.001127,-0.50,-0.119221
199997,AAPL,TECH,90,100,2016-04-14,2016-07-13,26.105249,22.695921,0.275282,0.281343,0.997028,0.060599,-0.20,-0.130599
199998,DB,BANK,540,1000,2015-08-10,2017-01-31,32.734558,19.146446,0.292055,0.517937,-0.210016,-0.208501,-0.50,-0.415100
199999,TSLA,AUTO,600,15000,2015-06-03,2017-01-23,49.798000,49.784000,0.374240,0.382662,1.115540,0.847787,-0.50,-0.000281

In [53]:
transactions_ready.isnull().sum()

company                     0
sector                      0
horizon (days)              0
amount                      0
date_BUY_fix                0
date_SELL_fix               0
price_BUY                   0
price_SELL                  0
Volatility_Buy              0
Volatility_sell             0
Sharpe Ratio                0
expected_return (yearly)    0
inflation                   0
nominal_return              0
dtype: int64

In [54]:
transactions_ready['investment']=''
investments=list()
for index, row in transactions_ready.iterrows():
    inflation=row['inflation']
    if inflation <0:
        if row['nominal_return']>0:
            inv='GOOD'
            investments.append(inv)
        elif row['nominal_return']<0:
            inv='BAD'
            investments.append(inv)
        else:
            inv='BAD'
            investments.append(inv)
    else:
        if row['nominal_return']>inflation:
            inv='GOOD'
            investments.append(inv)
        elif row['nominal_return']<inflation:
            inv='BAD'
            investments.append(inv)
        else:
            inv='BAD'
            investments.append(inv)
        

transactions_ready['investment']=investments

In [55]:
transactions_ready.shape

(169720, 15)

In [56]:
transactions_ready

,company,sector,horizon (days),amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,Sharpe Ratio,expected_return (yearly),inflation,nominal_return,investment
0,TSLA,AUTO,7,500,2017-06-14,2017-06-21,76.132004,75.279999,0.336212,0.336167,1.115540,0.009891,1.96,-0.011191,BAD
1,SC,BANK,600,3000,2018-07-09,2020-02-28,17.611959,23.415619,0.291036,0.247294,0.132227,0.018887,1.68,0.329529,BAD
2,DB,BANK,330,5000,2014-04-03,2015-02-27,39.276001,30.680777,0.261244,0.260936,-0.210016,-0.127417,-0.15,-0.218842,BAD
3,AMZN,TECH,90,15000,2015-01-09,2015-04-09,296.929993,383.540009,0.329601,0.324660,1.129542,0.081071,-0.50,0.291685,GOOD
5,BBY,RETAIL,30,50,2016-06-30,2016-07-29,27.180000,29.844707,0.349990,0.348505,0.462873,0.021559,-0.20,0.098039,GOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,MSFT,TECH,30,4000,2015-12-10,2016-01-08,50.435631,47.752792,0.281871,0.281726,0.977717,0.017937,-0.50,-0.053193,BAD
199995,KSS,RETAIL,60,50,2015-05-08,2015-07-07,58.212013,51.271896,0.226325,0.263863,0.001703,0.001127,-0.50,-0.119221,BAD
199997,AAPL,TECH,90,100,2016-04-14,2016-07-13,26.105249,22.695921,0.275282,0.281343,0.997028,0.060599,-0.20,-0.130599,BAD
199998,DB,BANK,540,1000,2015-08-10,2017-01-31,32.734558,19.146446,0.292055,0.517937,-0.210016,-0.208501,-0.50,-0.415100,BAD
199999,TSLA,AUTO,600,15000,2015-06-03,2017-01-23,49.798000,49.784000,0.374240,0.382662,1.115540,0.847787,-0.50,-0.000281,BAD

In [57]:
transactions_ready.investment.value_counts()

BAD     108210
GOOD     61510
Name: investment, dtype: int64

# Ratios

## ESG Ratios

In [58]:
len(ESG_ratios_fix)

28

In [59]:
companies[3]

'GOOG'

In [60]:
ESG_ratios_fix

[16.5,
 27.4,
 14.7,
 22.8,
 31.6,
 12.9,
 29.7,
 30.6,
 28.5,
 31.1,
 30.3,
 16.3,
 27.3,
 14.5,
 14.8,
 12.9,
 22.3,
 12.0,
 25.1,
 17.6,
 25.1,
 20.5,
 19.8,
 26.9,
 30.0,
 24.8,
 26.3,
 27.9]

In [61]:
transactions_ready['ESG_ranking']=0

for index, row in transactions_ready.iterrows():
    company=row['company']
    ind_comp=companies.index(company)
    ESG_ratio= ESG_ratios_fix[ind_comp]
    transactions_ready.loc[index, 'ESG_ranking']=ESG_ratio

In [62]:
transactions_ready

,company,sector,horizon (days),amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,Sharpe Ratio,expected_return (yearly),inflation,nominal_return,investment,ESG_ranking
0,TSLA,AUTO,7,500,2017-06-14,2017-06-21,76.132004,75.279999,0.336212,0.336167,1.115540,0.009891,1.96,-0.011191,BAD,31.1
1,SC,BANK,600,3000,2018-07-09,2020-02-28,17.611959,23.415619,0.291036,0.247294,0.132227,0.018887,1.68,0.329529,BAD,26.9
2,DB,BANK,330,5000,2014-04-03,2015-02-27,39.276001,30.680777,0.261244,0.260936,-0.210016,-0.127417,-0.15,-0.218842,BAD,30.0
3,AMZN,TECH,90,15000,2015-01-09,2015-04-09,296.929993,383.540009,0.329601,0.324660,1.129542,0.081071,-0.50,0.291685,GOOD,27.4
5,BBY,RETAIL,30,50,2016-06-30,2016-07-29,27.180000,29.844707,0.349990,0.348505,0.462873,0.021559,-0.20,0.098039,GOOD,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,MSFT,TECH,30,4000,2015-12-10,2016-01-08,50.435631,47.752792,0.281871,0.281726,0.977717,0.017937,-0.50,-0.053193,BAD,14.7
199995,KSS,RETAIL,60,50,2015-05-08,2015-07-07,58.212013,51.271896,0.226325,0.263863,0.001703,0.001127,-0.50,-0.119221,BAD,12.9
199997,AAPL,TECH,90,100,2016-04-14,2016-07-13,26.105249,22.695921,0.275282,0.281343,0.997028,0.060599,-0.20,-0.130599,BAD,16.5
199998,DB,BANK,540,1000,2015-08-10,2017-01-31,32.734558,19.146446,0.292055,0.517937,-0.210016,-0.208501,-0.50,-0.415100,BAD,30.0
199999,TSLA,AUTO,600,15000,2015-06-03,2017-01-23,49.798000,49.784000,0.374240,0.382662,1.115540,0.847787,-0.50,-0.000281,BAD,31.1

In [65]:
pe_ratios_collection= pickle.load(open('./../webscrapping/pe_ratios_collection.p', "rb" ))

In [66]:
valor=pe_ratios_collection['AAPL'][pe_ratios_collection['AAPL']['Date']=='2020-09'].PE_Ratio.values[0]
float(valor)

35.46

In [67]:
#getting nearest date before investment.
def nearest(items, pivot):
    return min([i for i in items if i < pivot], key=lambda x: abs(x - pivot))

In [68]:
l_PE_ratios=list()
for index, row in transactions_ready.iterrows():
    year=row['date_BUY_fix']
    company=row['company']
    
    try:
        ratios_company=pe_ratios_collection[company]
        date=nearest(ratios_company['Date'].dropna(),year)
    
        try:
            PE_ratio_str=pe_ratios_collection[company][pe_ratios_collection[company]['Date']==date].PE_Ratio.values[0]
            PE_ratio=float(PE_ratio_str)
        except:
            #se puede asignar un cero si hace falta.
            PE_ratio=np.NaN
            
    except:
        PE_ratio=Decimal('nan')
    
    l_PE_ratios.append(PE_ratio)

In [69]:
transactions_ready['PE_ratio']=l_PE_ratios

In [70]:
transactions_ready

,company,sector,horizon (days),amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,Sharpe Ratio,expected_return (yearly),inflation,nominal_return,investment,ESG_ranking,PE_ratio
0,TSLA,AUTO,7,500,2017-06-14,2017-06-21,76.132004,75.279999,0.336212,0.336167,1.115540,0.009891,1.96,-0.011191,BAD,31.1,0
1,SC,BANK,600,3000,2018-07-09,2020-02-28,17.611959,23.415619,0.291036,0.247294,0.132227,0.018887,1.68,0.329529,BAD,26.9,4.65
2,DB,BANK,330,5000,2014-04-03,2015-02-27,39.276001,30.680777,0.261244,0.260936,-0.210016,-0.127417,-0.15,-0.218842,BAD,30.0,599.56
3,AMZN,TECH,90,15000,2015-01-09,2015-04-09,296.929993,383.540009,0.329601,0.324660,1.129542,0.081071,-0.50,0.291685,GOOD,27.4,0
5,BBY,RETAIL,30,50,2016-06-30,2016-07-29,27.180000,29.844707,0.349990,0.348505,0.462873,0.021559,-0.20,0.098039,GOOD,12.0,9.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,MSFT,TECH,30,4000,2015-12-10,2016-01-08,50.435631,47.752792,0.281871,0.281726,0.977717,0.017937,-0.50,-0.053193,BAD,14.7,36.29
199995,KSS,RETAIL,60,50,2015-05-08,2015-07-07,58.212013,51.271896,0.226325,0.263863,0.001703,0.001127,-0.50,-0.119221,BAD,12.9,13.03
199997,AAPL,TECH,90,100,2016-04-14,2016-07-13,26.105249,22.695921,0.275282,0.281343,0.997028,0.060599,-0.20,-0.130599,BAD,16.5,11.29
199998,DB,BANK,540,1000,2015-08-10,2017-01-31,32.734558,19.146446,0.292055,0.517937,-0.210016,-0.208501,-0.50,-0.415100,BAD,30.0,26.28
199999,TSLA,AUTO,600,15000,2015-06-03,2017-01-23,49.798000,49.784000,0.374240,0.382662,1.115540,0.847787,-0.50,-0.000281,BAD,31.1,0

## EPS Ratio

In [88]:
import re

In [89]:
l_EPS_ratios=list()
for index, row in transactions_ready.iterrows():
    year=row['date_BUY_fix']
    company=row['company']

    try:
        ratios_company=pe_ratios_collection[company]
        date=nearest(ratios_company['Date'].dropna(),row['date_BUY_fix'])
    
        try:
            EPS_ratio_str=pe_ratios_collection[company][pe_ratios_collection[company]['Date']==date].TTM_Net_EPS.values[0]
            EPS_ratio_str=re.sub('[%$B]', '',EPS_ratio_str)
        
            EPS_ratio=float(EPS_ratio_str)
        except:
            #se puede asignar un cero si hace falta.
            EPS_ratio=np.NaN
            
    except:
        EPS_ratio=np.NaN
    
    l_EPS_ratios.append(EPS_ratio)

In [90]:
transactions_ready['EPS_ratio']=l_EPS_ratios

## PS Ratio

In [71]:
ps_ratios_collection= pickle.load(open('./../webscrapping/ps_ratios_collection.p', "rb" ))

In [72]:
l_PS_ratios=list()
for index, row in transactions_ready.iterrows():
    year=row['date_BUY_fix']
    company=row['company']
    
    try:
        ratios_company=ps_ratios_collection[company]
        date=nearest(ratios_company['Date'].dropna(),year)
    
        try:
            PS_ratio_str=ps_ratios_collection[company][ps_ratios_collection[company]['Date']==date].Price_to_Sales_Ratio.values[0]
            PS_ratio=float(PS_ratio_str)
        except:
            #se puede asignar un cero si hace falta.
            PS_ratio= np.NaN
            
    except:
        PS_ratio=np.NaN
    
    l_PS_ratios.append(PS_ratio)

    
transactions_ready['PS_ratio']=l_PS_ratios

## PB Ratio

In [73]:
pb_ratios_collection= pickle.load(open('./../webscrapping/pb_ratios_collection.p', "rb" ))

In [74]:
l_PB_ratios=list()
for index, row in transactions_ready.iterrows():
    year=row['date_BUY_fix']
    company=row['company']
    
    try:
        ratios_company=pb_ratios_collection[company]
        date=nearest(ratios_company['Date'].dropna(),year)
    
        try:
            PB_ratio_str=pb_ratios_collection[company][pb_ratios_collection[company]['Date']==date].Price_to_Book_Ratio.values[0]
            PB_ratio=float(PB_ratio_str)
        except:
            #se puede asignar un cero si hace falta.
            PB_ratio= np.NaN
            
    except:
        PB_ratio=np.NaN
    
    l_PB_ratios.append(PB_ratio)

    
transactions_ready['PB_ratio']=l_PB_ratios

## NetProfitMargin ratio

In [75]:
NetProfitMargin_ratios_collection= pickle.load(open('./../webscrapping/NetProfitMargin_ratios_collection.p', "rb" ))

In [76]:
l_NetProfitMargin_ratios=list()
for index, row in transactions_ready.iterrows():
    year=row['date_BUY_fix']
    company=row['company']
    
    try:
        ratios_company=NetProfitMargin_ratios_collection[company]
        date=nearest(ratios_company['Date'].dropna(),year)
        try:                       
            NetProfitMargin_ratio_str=NetProfitMargin_ratios_collection[company][NetProfitMargin_ratios_collection[company]['Date']==date].Net_Margin.values[0]
            NetProfitMargin_ratio_str=re.sub('[%$B]', '',NetProfitMargin_ratio_str)
            NetProfitMargin_ratio=float(NetProfitMargin_ratio_str)
        except:
            #se puede asignar un cero si hace falta.
            NetProfitMargin_ratio= np.NaN        
    except:
        NetProfitMargin_ratio=np.NaN
    
    l_NetProfitMargin_ratios.append(NetProfitMargin_ratio)
transactions_ready['NetProfitMargin_ratio']=l_NetProfitMargin_ratios

## Current Ratio

In [77]:
current_ratios_collection= pickle.load(open('./../webscrapping/current_ratios_collection.p', "rb" ))
current_ratios_collection['AAPL'].head()

        Date Current_Assets Current_Liabilities Current_Ratio
0        NaT            NaN                 NaN           NaN
1        NaT            NaN                 NaN           NaN
2 2020-09-01       $143.71B            $105.39B          1.36
3 2020-06-01       $140.07B             $95.32B          1.47
4 2020-03-01       $143.75B             $96.09B          1.50

In [78]:
l_current_ratios=list()
for index, row in transactions_ready.iterrows():
    year=row['date_BUY_fix']
    company=row['company']
    
    try:
        ratios_company=current_ratios_collection[company]
        date=nearest(ratios_company['Date'].dropna(),year)
    
        try:
            current_ratio_str=current_ratios_collection[company][current_ratios_collection[company]['Date']==date].Current_Ratio.values[0]
            current_ratio=float(current_ratio_str)
        except:
            #se puede asignar un cero si hace falta.
            current_ratio= np.NaN
            
    except:
        current_ratio=np.NaN
    
    l_current_ratios.append(current_ratio)

    
transactions_ready['current_ratio']=l_current_ratios

## ROA Ratio

In [79]:
roa_ratios_collection= pickle.load(open('./../webscrapping/roa_ratios_collection.p', "rb" ))
roa_ratios_collection['AAPL'].head()

        Date TTM_Net_Income Total_Assets Return_on_Assets
0        NaT            NaN          NaN              NaN
1        NaT            NaN          NaN              NaN
2 2020-09-01        $57.41B     $323.89B           17.63%
3 2020-06-01        $58.42B     $317.34B           17.75%
4 2020-03-01        $57.22B     $320.40B           17.31%

In [80]:
l_roa_ratios=list()
for index, row in transactions_ready.iterrows():
    year=row['date_BUY_fix']
    company=row['company']
    
    try:
        ratios_company=roa_ratios_collection[company]
        date=nearest(ratios_company['Date'].dropna(),year)
    
        try:
            roa_ratio_str=roa_ratios_collection[company][roa_ratios_collection[company]['Date']==date].Return_on_Assets.values[0]
            roa_ratio_str=re.sub('[%$B]','',roa_ratio_str)
            roa_ratio=float(roa_ratio_str)
        except:
            #se puede asignar un cero si hace falta.
            roa_ratio= np.NaN
            
    except:
        roa_ratio=np.NaN
    
    l_roa_ratios.append(roa_ratio)

    
transactions_ready['roa_ratio']=l_roa_ratios

## ROE Ratio

In [81]:
roe_ratios_collection= pickle.load(open('./../webscrapping/roe_ratios_collection.p', "rb" ))
roe_ratios_collection['AAPL'].head()

        Date TTM_Net_Income Shareholder's_Equity Return_on_Equity
0        NaT            NaN                  NaN              NaN
1        NaT            NaN                  NaN              NaN
2 2020-09-01        $57.41B              $65.34B           75.15%
3 2020-06-01        $58.42B              $72.28B           70.66%
4 2020-03-01        $57.22B              $78.43B           64.49%

In [82]:
l_roe_ratios=list()
for index, row in transactions_ready.iterrows():
    year=row['date_BUY_fix']
    company=row['company']
    
    try:
        ratios_company=roe_ratios_collection[company]
        date=nearest(ratios_company['Date'].dropna(),year)
    
        try:
            roe_ratio_str=roe_ratios_collection[company][roe_ratios_collection[company]['Date']==date].Return_on_Equity.values[0]
            roe_ratio_str=re.sub('[%$B]','',roe_ratio_str)
            roe_ratio=float(roe_ratio_str)
        except:
            #se puede asignar un cero si hace falta.
            roe_ratio= np.NaN
            
    except:
        roe_ratio=np.NaN
    
    l_roe_ratios.append(roe_ratio)

    
transactions_ready['roe_ratio']=l_roe_ratios

# Final dataset review

In [83]:
transactions_ready

,company,sector,horizon (days),amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,...,nominal_return,investment,ESG_ranking,PE_ratio,PS_ratio,PB_ratio,NetProfitMargin_ratio,current_ratio,roa_ratio,roe_ratio
0,TSLA,AUTO,7,500,2017-06-14,2017-06-21,76.132004,75.279999,0.336212,0.336167,...,-0.011191,BAD,31.1,0,5.65,9.71,-7.60,0.97,-3.54,-15.13
1,SC,BANK,600,3000,2018-07-09,2020-02-28,17.611959,23.415619,0.291036,0.247294,...,0.329529,BAD,26.9,4.65,0.87,0.89,18.62,0.87,3.38,20.59
2,DB,BANK,330,5000,2014-04-03,2015-02-27,39.276001,30.680777,0.261244,0.260936,...,-0.218842,BAD,30.0,599.56,0.79,0.56,0.34,0.73,0.01,0.25
3,AMZN,TECH,90,15000,2015-01-09,2015-04-09,296.929993,383.540009,0.329601,0.324660,...,0.291685,GOOD,27.4,0,1.62,13.44,-0.27,1.12,-0.57,-2.29
5,BBY,RETAIL,30,50,2016-06-30,2016-07-29,27.180000,29.844707,0.349990,0.348505,...,0.098039,GOOD,12.0,9.65,0.25,2.06,2.53,1.47,7.23,22.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,MSFT,TECH,30,4000,2015-12-10,2016-01-08,50.435631,47.752792,0.281871,0.281726,...,-0.053193,BAD,14.7,36.29,4.70,5.24,13.29,3.00,6.65,14.44
199995,KSS,RETAIL,60,50,2015-05-08,2015-07-07,58.212013,51.271896,0.226325,0.263863,...,-0.119221,BAD,12.9,13.03,0.60,1.88,4.56,1.91,6.01,14.72
199997,AAPL,TECH,90,100,2016-04-14,2016-07-13,26.105249,22.695921,0.275282,0.281343,...,-0.130599,BAD,16.5,11.29,2.53,4.26,22.27,1.28,17.44,40.24
199998,DB,BANK,540,1000,2015-08-10,2017-01-31,32.734558,19.146446,0.292055,0.517937,...,-0.415100,BAD,30.0,26.28,0.74,0.48,3.49,0.71,0.09,2.09
199999,TSLA,AUTO,600,15000,2015-06-03,2017-01-23,49.798000,49.784000,0.374240,0.382662,...,-0.000281,BAD,31.1,0,9.09,47.62,-14.07,1.10,-8.74,-61.08

In [92]:
print(transactions_ready.isnull().values.sum())
transactions_ready.isnull().sum()

0

company                     0
sector                      0
horizon (days)              0
amount                      0
date_BUY_fix                0
date_SELL_fix               0
price_BUY                   0
price_SELL                  0
Volatility_Buy              0
Volatility_sell             0
Sharpe Ratio                0
expected_return (yearly)    0
inflation                   0
nominal_return              0
investment                  0
ESG_ranking                 0
PE_ratio                    0
PS_ratio                    0
PB_ratio                    0
NetProfitMargin_ratio       0
current_ratio               0
roa_ratio                   0
roe_ratio                   0
EPS_ratio                   0
dtype: int64

In [93]:
df_review=transactions_ready.copy()
print('original    :',df_review.shape[0])
print('without NAN :',df_review.dropna().shape[0])
print('rows with NAN: ',df_review.shape[0]-df_review.dropna().shape[0])

original    : 161898
without NAN : 161898
rows with NAN:  0

In [94]:
transactions_ready=transactions_ready.dropna()
transactions_ready.shape

(161898, 24)

In [95]:
transactions_ready.to_csv('transactions_variables.csv')